.popover {
    background: var(--surface-foreground);
    box-shadow: var(--surface-shadow);
    border-radius: var(--radius-3);
    width: max-content;
    padding: var(--spacing-8);
    z-index: var(--z-index-popover);
}

.popoverOverlay {
    background-color: var(--overlay);
    z-index: var(--z-index-overlay);
}

.popoverOverlayBlurred {
    backdrop-filter: blur(2px);
}