.sheet {
    display: flex;
    flex-direction: column;
    position: fixed;
    box-sizing: border-box;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-height: 100%;
    background: var(--surface-foreground);
    border-top-left-radius: var(--radius-6);
    border-top-right-radius: var(--radius-6);
    transition: all .25s ease;
    will-change: transform;
}

.sheet[data-shadow='true'] {
    box-shadow: var(--surface-shadow);
}

.sheet::after {
    content: '';
    position: absolute;
    left: 0;
    top: calc(100% - 1px);
    width: 100%;
    height: 200%;
    background: var(--surface-foreground);
}

.sheet[data-status='open'] {
    transform: translateY(0);
}

.sheet[data-status='initial'],
.sheet[data-status='unmounted'],
.sheet[data-status='close'] {
    transform: translateY(100%);
}

.sheet[data-dragging='true'] {
    transition: none;
}

@media (hover: hover) and (pointer: fine) {
    .sheet {
        user-select: none;
    }
}