.item {
    --padding-inline: 0;

    --item-color: var(--text-color);
    --item-background-color: transparent;
    --item-background-color-hover: var(--segmented-control-background-color-hover);
    --item-background-color-active: var(--segmented-control-background-color-active);

    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: inherit;
    position: relative;
    outline: none;
    white-space: nowrap;
    font-family: var(--default-font-family);
    font-weight: 500;
    height: 100%;
    cursor: pointer;
    color: var(--item-color);
    background-color: var(--item-background-color);
    padding-inline: var(--padding-inline);
    padding-block: var(--spacing-3);
    transition: color var(--transition-fast-state-delay) ease,
                background-color var(--transition-fast-state-delay) ease-in;
}

.item:where([data-size='xs']) {
    font-size: var(--font-size-2);
    --padding-inline: var(--spacing-8);
}

.item:where([data-size='sm']) {
    font-size: var(--font-size-2);
    --padding-inline: var(--spacing-10);
}

.item:where([data-size='md']) {
    font-size: var(--font-size-3);
    --padding-inline: var(--spacing-12);
}

.item:where([data-size='lg']) {
    font-size: var(--font-size-4);
    --padding-inline: var(--spacing-14);
}

.item:where([data-size='xl']) {
    font-size: var(--font-size-4);
    --padding-inline: var(--spacing-16);
}

.item:where([data-active='true']) {
    --item-color: var(--text-color-inverce);
    --item-background-color-hover: transparent;
    --item-background-color-active: transparent;

    /* Prevent background-color animation during indicator movement */
    transition: color var(--transition-fast-state-delay) ease, background-color 0s;
}

.item:where([data-disabled='true']) {
    --item-color: var(--disable-text-color);
    --item-background-color-hover: transparent;
    --item-background-color-active: transparent;

    cursor: not-allowed;
}

.item:not([data-disabled='true']):hover {
    background-color: var(--item-background-color-hover);
}

.item:not([data-disabled='true']):active {
    background-color: var(--item-background-color-active);
}