.item {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: inherit;
    position: relative;
    outline: none;
    white-space: nowrap;
    font-family: var(--default-font-family);
    font-weight: 500;
    height: 100%;
    cursor: pointer;
    background-color: transparent;
    color: var(--text-color);
    padding-inline: var(--padding-inline);
    padding-block: var(--spacing-3);
    transition: color var(--transition-fast-state-delay) ease,
                background-color var(--transition-fast-state-delay) ease-in;
}

.item:hover {
    background-color: var(--color-gray-accent-100);
}

.item:active {
    background-color: var(--color-gray-accent-150);
}

.item[data-disabled='true']:hover,
.item[data-disabled='true']:active {
    background-color: initial;
}

.item[data-active='true'] {
    color: var(--text-inverce-color);
    transition: color var(--transition-fast-state-delay) ease, background-color 0s;
}

.item[data-active='true'],
.item[data-active='true']:hover,
.item[data-active='true']:active {
    background-color: initial;
}

.item[data-disabled='true'] {
    color: var(--disable-text-color);
    cursor: not-allowed;
}

.item[data-size='xs'] {
    font-size: var(--font-size-2);
    --padding-inline: var(--spacing-8);
}

.item[data-size='sm'] {
    font-size: var(--font-size-2);
    --padding-inline: var(--spacing-10);
}

.item[data-size='md'] {
    font-size: var(--font-size-3);
    --padding-inline: var(--spacing-12);
}

.item[data-size='lg'] {
    font-size: var(--font-size-4);
    --padding-inline: var(--spacing-14);
}

.item[data-size='xl'] {
    font-size: var(--font-size-4);
    --padding-inline: var(--spacing-16);
}