.content {
    position: relative;
    overflow: hidden;
    padding: 4px;
}

.content:where([data-size='xs']) {
    min-width: calc(7 * var(--spacing-18) + 4px);
}

.content:where([data-size='sm']) {
    min-width: calc(7 * var(--spacing-21) + 4px);
}

.content:where([data-size='md']) {
    min-width: calc(7 * var(--spacing-24) + 4px);
}

.content:where([data-size='lg']) {
    min-width: calc(7 * var(--spacing-27) + 4px);
}

.content:where([data-size='xl']) {
    min-width: calc(7 * var(--spacing-30) + 4px);
}
