.field {
    --input-height: 0;
    --input-br-ratio: 0.333;

    display: flex;
    align-items: center;
    position: relative;
    background-color: var(--field-background-color);
    outline: 1px solid transparent;
    box-sizing: border-box;
    cursor: text;
    transition: outline-color var(--transition-state-delay) ease,
                background-color var(--transition-state-delay) ease;
    height: var(--input-height);
    border-radius: calc(var(--input-height) * var(--input-br-ratio));
}

.field[data-size='sm'] {
    --input-height: var(--spacing-21);
}

.field[data-size='md'] {
    --input-height: var(--spacing-24);
}

.field[data-size='lg'] {
    --input-height: var(--spacing-27);
}

/* textField/hover */

.field:has(input:hover) {
    background-color: var(--field-background-hover-color);
}

/* textField/active */

.field:has(input:active),
.field:has(input:focus-visible) {
    outline-color: var(--field-border-focus-color);
}

/* textField/error */

.field[data-error='true'] {
    outline-color: var(--color-error);
}

/* textField/disabled */

.field:has(input:disabled) {
    cursor: not-allowed;
    background-color: var(--disable-background-color);
}