.modal {
    background: var(--surface-foreground);
    border-radius: var(--radius-6);
    padding: var(--spacing-14) var(--spacing-12);
    min-width: clamp(220px, 70vw, 500px);
    max-width: 600px;
}

.modal[data-shadowed='true'] {
    box-shadow: var(--surface-shadow);
}

.modal[data-fluid='true'] {
    width: 100vw;
    max-width: initial;
    height: 100%;
    overflow: auto;
    border-radius: 0;
    box-sizing: border-box;
}

.modalOverlay {
    display: grid;
    place-items: center;
    z-index: var(--z-index-overlay);
    padding: var(--spacing-6);
    box-sizing: border-box;
}

.modalOverlay[data-overlaid='true']::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    min-height: 100vh;
    background-color: var(--overlay);
}

.modalOverlay[data-blurred='true']::after {
    backdrop-filter: blur(2px);
}

.modalOverlay:has(.modal[data-fluid='true']) {
    padding: 0;
}