.avatar {
    --avatar-size: var(--spacing-8);
    --avatar-br-ratio: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    object-fit: cover;
    position: relative;

    height: var(--avatar-size);
    width: var(--avatar-size);
    border-radius: calc(var(--avatar-size) * var(--avatar-br-ratio));
}

.avatar[data-variant='primary'] {
    background-color: var(--color-primary-50);
    color: var(--color-primary-500);
}

.avatar[data-variant='secondary'] {
    background-color: var(--color-secondary-50);
    color: var(--text-color);
}

.avatar[data-size='2xs'] {
    --avatar-size: var(--spacing-8);
}

.avatar[data-size='xs'] {
    --avatar-size: var(--spacing-10);
}

.avatar[data-size='sm'] {
    --avatar-size: var(--spacing-12);
}

.avatar[data-size='md'] {
    --avatar-size: var(--spacing-16);
}

.avatar[data-size='lg'] {
    --avatar-size: var(--spacing-21);
}

.avatar[data-size='xl'] {
    --avatar-size: var(--spacing-24);
}

.avatar[data-size='2xl'] {
    --avatar-size: var(--spacing-27);
}