.selectCombobox {
    --select-height: 0;
    --select--br-ratio: 0.333;

    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    gap: var(--spacing-10);
    user-select: none;
    cursor: pointer;
    border: none;
    font-family: var(--default-font-family);
    font-size: var(--font-size-3);
    box-sizing: border-box;
    height: var(--select-height);
    border-radius: calc(var(--select-height) * var(--select--br-ratio));
}

.segment {
    display: flex;
    align-items: center;
    gap: var(--spacing-4);
    color: var(--text-color);
}

.control {
    display: flex;
    align-items: center;
}

.selectCombobox[data-size='small'] {
    --select-height: var(--spacing-21);

    min-width: 150px;
    padding: var(--spacing-5) var(--spacing-8);
    gap: var(--spacing-8);
}

.selectCombobox[data-size='small'] .value,
.selectCombobox[data-size='small'] .placeholder {
    font-size: var(--text-font-size-2);
}

.selectCombobox[data-size='medium'] {
    --select-height: var(--spacing-24);

    min-width: 150px;
    padding: var(--spacing-5) var(--spacing-10);
    gap: var(--spacing-10);
}

.selectCombobox[data-size='medium'] .value,
.selectCombobox[data-size='medium'] .placeholder {
    font-size: var(--text-font-size-3);
}

.selectCombobox[data-size='large'] {
    --select-height: var(--spacing-27);

    min-width: 250px;
    padding: var(--spacing-5) var(--spacing-10);
    gap: var(--spacing-12);
}

.selectCombobox[data-size='large'] .value,
.selectCombobox[data-size='large'] .placeholder {
    font-size: var(--text-font-size-4);
}

.selectCombobox[data-variant='field'] .control,
.selectCombobox[data-variant='inline'] .control {
    color: var(--field-placeholder-color);
}

.selectCombobox[data-variant='field'] {
    background-color: var(--surface-foreground);
    outline: 1px solid var(--field-border-color);
    transition: outline var(--transition-state-delay) ease-in-out;
}

/* selectCombobox/field/hover */

.selectCombobox[data-variant='field']:hover {
    outline-color: var(--field-border-hover-color);
}

/* selectCombobox/field/focus */

.selectCombobox[data-variant='field'][data-state='open'],
.selectCombobox[data-variant='field']:focus {
    outline-color: var(--field-border-focus-color);
}

/* selectCombobox/field/disabled */

.selectCombobox[data-variant='field']:disabled {
    background-color: var(--disable-background-color);
}

.selectCombobox[data-variant='inline'] {
    border: 1px solid transparent;
    transition:
            outline-color var(--transition-state-delay) ease-in-out,
            background-color var(--transition-state-delay) ease-in-out;
    outline: none;
}

/* selectCombobox/field/hover */

.selectCombobox[data-variant='inline']:hover {
    background-color: var(--color-gray-accent-0);
    outline-color: var(--color-gray-accent-0);
}

/* selectCombobox/inline/focus */

.selectCombobox[data-variant='inline'][data-state='open'],
.selectCombobox[data-variant='inline']:focus {
    outline-color: var(--field-border-focus-color);
    background-color: transparent;
}

/* selectCombobox/field/disabled */

.selectCombobox[data-variant='inline']:disabled {
    background-color: transparent;
    outline-color: transparent;
}

/* selectCombobox/disabled */

.selectCombobox:disabled {
    cursor: not-allowed;
}

.selectCombobox:disabled .placeholder,
.selectCombobox:disabled .control {
    color: var(--disable-placeholder-text-color);
}

.selectCombobox:disabled .segment,
.selectCombobox:disabled .value {
    color: var(--disable-text-color);
}