.segmentedControl {
    --segmented-control-height: var(--spacing-21);
    --segmented-control-br-ratio: 0.333;

    --segmented-control-background-color: var(--fills-tertiary);
    --segmented-control-background-color-hover: var(--fills-tertiary-hover);
    --segmented-control-background-color-active: var(--fills-tertiary-active);

    --segmented-control-indicator-offset: 0;
    --segmented-control-indicator-size: 100%;

    display: grid;
    align-items: center;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    position: relative;
    isolation: isolate;
    box-sizing: border-box;

    height: var(--segmented-control-height);
    background-color: var(--segmented-control-background-color);
    border-radius: calc(var(--segmented-control-height) * var(--segmented-control-br-ratio));
}

.segmentedControl:has(:focus-visible) {
    outline: 2px solid var(--focus-color);
}

.segmentedControl:where([data-size='xs']) {
    --segmented-control-height: var(--spacing-16);
}

.segmentedControl:where([data-size='sm']) {
    --segmented-control-height: var(--spacing-18);
}

.segmentedControl:where([data-size='md']) {
    --segmented-control-height: var(--spacing-21);
}

.segmentedControl:where([data-size='lg']) {
    --segmented-control-height: var(--spacing-24);
}

.segmentedControl:where([data-size='xl']) {
    --segmented-control-height: var(--spacing-26);
}
