.checkboxCard {
    cursor: pointer;
    align-items: flex-end;
    min-width: 220px;
    flex: 1;
}

.checkboxCardWrapper {
    display: flex;
}

.checkboxCard[data-orientation='vertical'] {
    gap: var(--spacing-8);
}

.checkboxCard[data-orientation='horizontal'] {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-16);
}

.checkboxCard:hover,
.checkboxCard:has(:focus-visible) {
    border-color: var(--color-gray-accent-300);
}

.checkboxCard:active {
    border-color: var(--color-gray-accent-400);
}

.checkboxCard[data-appearance] {
    transition: border-color var(--transition-state-delay) ease;
}

.checkboxCard[data-appearance]:has(input[type='checkbox']:disabled) {
    background-color: var(--color-gray-accent-50);
    cursor: not-allowed;
}

.checkboxCard[data-variant='primary']:has(input[type='checkbox']:checked),
.checkboxCard[data-variant='primary']:has(input[type='checkbox']:indeterminate) {
    border-color: var(--color-primary-500);
}

.checkboxCard[data-variant='secondary']:has(input[type='checkbox']:checked),
.checkboxCard[data-variant='secondary']:has(input[type='checkbox']:indeterminate) {
    border-color: var(--color-secondary-500);
}

.content {
    width: 100%;
}