.icon {
    --icon-size: calc(var(--checkbox-size) / 2);

    position: absolute;
    opacity: var(--checkbox-checked);
    transform: scale(var(--checkbox-checked));
    transition: transform var(--transition-state-delay) ease;
}