.iconButton {
    --icon-button-size: 0;
    --icon-button-br-ratio: 0.333;

    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    aspect-ratio: 1 / 1;
    height: var(--icon-button-size);
    width: var(--icon-button-size);
    border-radius: calc(var(--icon-button-size) * var(--icon-button-br-ratio));
}

.iconButton[data-size='small'] {
    --icon-button-size: var(--spacing-21);
}

.iconButton[data-size='medium'] {
    --icon-button-size: var(--spacing-24);
}

.iconButton[data-size='large'] {
    --icon-button-size: var(--spacing-27);
}

.icon {
    --icon-size: calc(var(--icon-button-size) / 3) !important;
}