.code {
    font-family: var(--code-font-family), monospace !important;
    line-height: 1.25;
    display: inline-block;
    background-color: var(--fills-secondary);
    padding: 0 .5em;
    border-radius: .35em;
    break-inside: avoid;
    word-wrap: break-word;

    --t-color: var(--label-secondary);
}