.checkboxCard {
    --checkbox-card-b-color: transparent;
    --checkbox-card-bg-color: transparent;

    border-color: var(--checkbox-card-b-color);
    background-color: var(--checkbox-card-bg-color);

    position: relative;
    cursor: pointer;
    align-items: flex-end;
    min-width: 220px;
    flex: 1;
    transition: border-color var(--transition-state-delay) ease,
                background-color var(--transition-state-delay) ease;
}

.checkboxCard[data-orientation='vertical'] {
    gap: var(--spacing-8);
}

.checkboxCard[data-orientation='horizontal'] {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-16);
}

.checkboxCard:hover,
.checkboxCard:has(:focus-visible) {
    --checkbox-card-b-color: var(--color-gray-accent-300);
}

.checkboxCard:active {
    --checkbox-card-b-color: var(--color-gray-accent-400);
}

.checkboxCard:has(input[type='checkbox']:disabled) {
    --checkbox-card-bg-color: var(--color-gray-accent-50);
    cursor: not-allowed;
}

.checkboxCard[data-variant='primary']:has(input[type='checkbox']:checked),
.checkboxCard[data-variant='primary']:has(input[type='checkbox']:indeterminate) {
    --checkbox-card-b-color: var(--color-primary-500);
}

.checkboxCard[data-variant='secondary']:has(input[type='checkbox']:checked),
.checkboxCard[data-variant='secondary']:has(input[type='checkbox']:indeterminate) {
    --checkbox-card-b-color: var(--color-secondary-500);
}