.checkboxCard {
    --card-border-color: var(--border-color);
    --checkbox-card-background-color: transparent;

    position: relative;
    cursor: pointer;
    align-items: flex-end;
    min-width: 220px;
    flex: 1;
    transition: border-color var(--transition-state-delay) ease,
                background-color var(--transition-state-delay) ease;
}

.checkboxCard:where([data-orientation='vertical']) {
    gap: var(--spacing-8);
}

.checkboxCard:where([data-orientation='horizontal']) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-16);
}

.checkboxCard:hover,
.checkboxCard:has(:focus-visible) {
    --card-border-color: var(--border-color-hover);
}

.checkboxCard:active {
    --card-border-color: var(--border-color-active);
}

.checkboxCard:has(input[type='checkbox']:disabled) {
    --card-border-color: var(--disable-border-color);
    cursor: not-allowed;
}

.checkboxCard:where([data-variant='primary']):has(input[type='checkbox']:checked),
.checkboxCard:where([data-variant='primary']):has(input[type='checkbox']:indeterminate) {
    --card-border-color: var(--color-primary-500);
}

.checkboxCard:where([data-variant='secondary']):has(input[type='checkbox']:checked),
.checkboxCard:where([data-variant='secondary']):has(input[type='checkbox']:indeterminate) {
    --card-border-color: var(--color-secondary-500);
}