.icon {
    height: var(--icon-size);
    width: var(--icon-size);
}

.icon:where([data-size='4xs']) {
    --icon-size: 8px;
}

.icon:where([data-size='3xs']) {
    --icon-size: 10px;
}

.icon:where([data-size='2xs']) {
    --icon-size: 12px;
}

.icon:where([data-size='xs']) {
    --icon-size: 14px;
}

.icon:where([data-size='sm']) {
    --icon-size: 16px;
}

.icon:where([data-size='md']) {
    --icon-size: 18px;
}

.icon:where([data-size='lg']) {
    --icon-size: 22px;
}

.icon:where([data-size='xl']) {
    --icon-size: 28px;
}