:root {
    /* Red color */

    --color-red-0: oklch(98% 0.012 23);
    --color-red-100: oklch(96% 0.024 23);
    --color-red-200: oklch(94% 0.032 23);
    --color-red-300: oklch(72% 0.24 23);
    --color-red-400: oklch(66% 0.24 23);
    --color-red-500: oklch(60% 0.24 23);
    --color-red-600: oklch(54% 0.24 23);
    --color-red-700: oklch(48% 0.24 23);
    --color-red-800: oklch(36% 0.16 23);
    --color-red-900: oklch(28% 0.12 23);
    --color-red-1000: oklch(24% 0.08 23);

    /* Blue color */

    --color-blue-0: oklch(98% 0.012 250);
    --color-blue-100: oklch(96% 0.024 250);
    --color-blue-200: oklch(94% 0.032 250);
    --color-blue-300: oklch(78% 0.2 250);
    --color-blue-400: oklch(72% 0.2 250);
    --color-blue-500: oklch(66% 0.20 250);
    --color-blue-600: oklch(60% 0.2 250);
    --color-blue-700: oklch(54% 0.2 250);
    --color-blue-800: oklch(36% 0.10 250);
    --color-blue-900: oklch(28% 0.08 250);
    --color-blue-1000: oklch(24% 0.06 250);

    /* Green color */

    --color-green-0: oklch(98% 0.012 158);
    --color-green-100: oklch(96% 0.024 158);
    --color-green-200: oklch(94% 0.032 158);
    --color-green-300: oklch(78% 0.2 158);
    --color-green-400: oklch(72% 0.2 158);
    --color-green-500: oklch(66% 0.2 158);
    --color-green-600: oklch(60% 0.2 158);
    --color-green-700: oklch(56% 0.2 158);
    --color-green-800: oklch(36% 0.10 158);
    --color-green-900: oklch(28% 0.08 158);
    --color-green-1000: oklch(24% 0.06 158);

    /* Orange color */

    --color-orange-0: oklch(98% 0.024 72);
    --color-orange-100: oklch(96% 0.032 72);
    --color-orange-200: oklch(94% 0.048 72);
    --color-orange-300: oklch(88% 0.22 72);
    --color-orange-400: oklch(84% 0.22 72);
    --color-orange-500: oklch(80% 0.22 72);
    --color-orange-600: oklch(76% 0.22 72);
    --color-orange-700: oklch(72% 0.22 72);
    --color-orange-800: oklch(36% 0.1 72);
    --color-orange-900: oklch(28% 0.08 72);
    --color-orange-1000: oklch(24% 0.06 72);

    /* Purple color */

    --color-purple-0: oklch(98% 0.032 304);
    --color-purple-100: oklch(96% 0.048 304);
    --color-purple-200: oklch(94% 0.064 304);
    --color-purple-300: oklch(82% 0.18 304);
    --color-purple-400: oklch(76% 0.22 304);
    --color-purple-500: oklch(66% 0.26 304);
    --color-purple-600: oklch(60% 0.26 304);
    --color-purple-700: oklch(54% 0.26 304);
    --color-purple-800: oklch(36% 0.10 304);
    --color-purple-900: oklch(28% 0.08 304);
    --color-purple-1000: oklch(24% 0.06 304);

    /* Amber color */

    --color-amber-0: oklch(98% 0.024 84);
    --color-amber-100: oklch(96% 0.032 84);
    --color-amber-200: oklch(94% 0.048 84);
    --color-amber-300: oklch(92% 0.22 84);
    --color-amber-400: oklch(90% 0.22 84);
    --color-amber-500: oklch(86% 0.22 82);
    --color-amber-600: oklch(80% 0.22 84);
    --color-amber-700: oklch(72% 0.22 84);
    --color-amber-800: oklch(36% 0.12 84);
    --color-amber-900: oklch(28% 0.1 84);
    --color-amber-1000: oklch(24% 0.06 84);

    /* Pink color */

    --color-pink-0: oklch(98% 0.024 1);
    --color-pink-100: oklch(96% 0.032 1);
    --color-pink-200: oklch(94% 0.048 1);
    --color-pink-300: oklch(86% 0.22 1);
    --color-pink-400: oklch(80% 0.22 1);
    --color-pink-500: oklch(72% 0.22 1);
    --color-pink-600: oklch(68% 0.22 1);
    --color-pink-700: oklch(64% 0.22 1);
    --color-pink-800: oklch(36% 0.10 1);
    --color-pink-900: oklch(28% 0.08 1);
    --color-pink-1000: oklch(24% 0.06 1);

    /* Yellow color */

    --color-yellow-0: oklch(98% 0.032 97);
    --color-yellow-100: oklch(96% 0.048 97);
    --color-yellow-200: oklch(94% 0.096 97);
    --color-yellow-300: oklch(94% 0.2 97);
    --color-yellow-400: oklch(92% 0.2 97);
    --color-yellow-500: oklch(88% 0.2 97);
    --color-yellow-600: oklch(84% 0.2 97);
    --color-yellow-700: oklch(80% 0.2 97);
    --color-yellow-800: oklch(36% 0.16 97);
    --color-yellow-900: oklch(28% 0.12 97);
    --color-yellow-1000: oklch(24% 0.08 97);

    /* Beryl color */

    --color-beryl-0: oklch(98% 0.024 249);
    --color-beryl-100: oklch(96% 0.032 249);
    --color-beryl-200: oklch(94% 0.048 249);
    --color-beryl-300: oklch(86% 0.20 249);
    --color-beryl-400: oklch(84% 0.20 249);
    --color-beryl-500: oklch(80% 0.20 249);
    --color-beryl-600: oklch(76% 0.20 249);
    --color-beryl-700: oklch(76% 0.20 249);
    --color-beryl-800: oklch(42% 0.16 249);
    --color-beryl-900: oklch(36% 0.12 249);
    --color-beryl-1000: oklch(32% 0.08 249);

    /* Sapphirine color */

    --color-sapphirine-0: oklch(98% 0.024 284);
    --color-sapphirine-100: oklch(96% 0.032 284);
    --color-sapphirine-200: oklch(94% 0.048 284);
    --color-sapphirine-300: oklch(92% 0.26 284);
    --color-sapphirine-400: oklch(86% 0.26 284);
    --color-sapphirine-500: oklch(80% 0.26 284);
    --color-sapphirine-600: oklch(74% 0.26 284);
    --color-sapphirine-700: oklch(68% 0.26 284);
    --color-sapphirine-800: oklch(36% 0.16 284);
    --color-sapphirine-900: oklch(28% 0.12 284);
    --color-sapphirine-1000: oklch(24% 0.08 284);

    /* Nephritis color */

    --color-nephritis-0: oklch(98% 0.024 162);
    --color-nephritis-100: oklch(96% 0.032 162);
    --color-nephritis-200: oklch(94% 0.048 162);
    --color-nephritis-300: oklch(72% 0.24 162);
    --color-nephritis-400: oklch(66% 0.24 162);
    --color-nephritis-500: oklch(60% 0.24 162);
    --color-nephritis-600: oklch(54% 0.24 162);
    --color-nephritis-700: oklch(48% 0.24 162);
    --color-nephritis-800: oklch(36% 0.16 162);
    --color-nephritis-900: oklch(28% 0.12 162);
    --color-nephritis-1000: oklch(24% 0.08 162);

    /* Topaz color */

    --color-topaz-0: oklch(98% 0.024 74);
    --color-topaz-100: oklch(96% 0.032 74);
    --color-topaz-200: oklch(94% 0.048 74);
    --color-topaz-300: oklch(94% 0.14 74);
    --color-topaz-400: oklch(90% 0.14 74);
    --color-topaz-500: oklch(86% 0.14 74);
    --color-topaz-600: oklch(80% 0.14 74);
    --color-topaz-700: oklch(76% 0.14 74);
    --color-topaz-800: oklch(36% 0.16 74);
    --color-topaz-900: oklch(28% 0.12 74);
    --color-topaz-1000: oklch(24% 0.08 74);

    /* Amethyst color */

    --color-amethyst-0: oklch(98% 0.032 287);
    --color-amethyst-100: oklch(96% 0.048 287);
    --color-amethyst-200: oklch(94% 0.064 287);
    --color-amethyst-300: oklch(82% 0.20 287);
    --color-amethyst-400: oklch(72% 0.20 287);
    --color-amethyst-500: oklch(66% 0.20 287);
    --color-amethyst-600: oklch(60% 0.20 287);
    --color-amethyst-700: oklch(54% 0.20 287);
    --color-amethyst-800: oklch(36% 0.16 287);
    --color-amethyst-900: oklch(28% 0.12 287);
    --color-amethyst-1000: oklch(24% 0.08 287);

    /* Ruby color */

    --color-ruby-0: oklch(98% 0.024 13);
    --color-ruby-100: oklch(96% 0.032 13);
    --color-ruby-200: oklch(94% 0.048 13);
    --color-ruby-300: oklch(62% 0.2 13);
    --color-ruby-400: oklch(58% 0.2 13);
    --color-ruby-500: oklch(52% 0.2 13);
    --color-ruby-600: oklch(48% 0.2 13);
    --color-ruby-700: oklch(44% 0.2 13);
    --color-ruby-800: oklch(36% 0.16 13);
    --color-ruby-900: oklch(28% 0.12 13);
    --color-ruby-1000: oklch(24% 0.08 13);

    /* Graphite color */

    --color-graphite-0: oklch(96% 0.0017 248);
    --color-graphite-100: oklch(93% 0.0046 248);
    --color-graphite-200: oklch(87% 0.0071 248);
    --color-graphite-300: oklch(83% 0.009 248);
    --color-graphite-400: oklch(73% 0.0125 248);
    --color-graphite-500: oklch(23.2% 0.0146 248);
    --color-graphite-600: oklch(17.6% 0.0096 248);
    --color-graphite-700: oklch(14.8% 0.0055 248);
    --color-graphite-800: oklch(12.6% 0.0054 248);
    --color-graphite-900: oklch(11.9% 0.006 248);
    --color-graphite-1000: oklch(8.6% 0.0056 248);

    /* Gray color */

    --color-gray-0: oklch(97% 0.004 252);
    --color-gray-100: oklch(95% 0.004 252);
    --color-gray-200: oklch(93% 0.006 252);
    --color-gray-300: oklch(85% 0.012 252);
    --color-gray-400: oklch(75% 0.02 252);
    --color-gray-500: oklch(65% 0.032 252);
    --color-gray-600: oklch(55% 0.032 252);
    --color-gray-700: oklch(45% 0.032 252);
    --color-gray-800: oklch(26% 0.016 252);
    --color-gray-900: oklch(24% 0.008 252);
    --color-gray-1000: oklch(22% 0.008 252);

    /* Smoke color */

    --color-smoke-0: oklch(1 0 260);
    --color-smoke-100: oklch(99% .002 260);
    --color-smoke-200: oklch(98.2% 0.004 260);
    --color-smoke-300: oklch(97.5% 0.005 260);
    --color-smoke-400: oklch(97.2% 0.006 260);
    --color-smoke-500: oklch(97% 0.006 260);
    --color-smoke-600: oklch(90% 0.007 260);
    --color-smoke-700: oklch(75% 0.009 260);
    --color-smoke-800: oklch(40% 0.017 260);
    --color-smoke-900: oklch(27% 0.011 260);
    --color-smoke-1000: oklch(22% 0.012 260);

    --color-black: rgba(0, 0, 0, 1);
    --color-white: rgba(255, 255, 255, 1);
}