:root {

    /* Red color */

    --color-red: #D61731;
    --color-red-500: var(--color-red);
    --color-red-0: color-mix(in oklch, var(--color-red) 3%, white);
    --color-red-50: color-mix(in oklch, var(--color-red) 7%, white);
    --color-red-100: color-mix(in oklch, var(--color-red) 13%, white);
    --color-red-150: color-mix(in oklch, var(--color-red) 20%, white);
    --color-red-200: color-mix(in oklch, var(--color-red) 30%, white);
    --color-red-250: color-mix(in oklch, var(--color-red) 41%, white);
    --color-red-300: color-mix(in oklch, var(--color-red) 54%, white);
    --color-red-350: color-mix(in oklch, var(--color-red) 67%, white);
    --color-red-400: color-mix(in oklch, var(--color-red) 80%, white);
    --color-red-450: color-mix(in oklch, var(--color-red) 91%, white);
    --color-red-550: color-mix(in oklch, var(--color-red) 99%, black);
    --color-red-600: color-mix(in oklch, var(--color-red) 97%, black);
    --color-red-650: color-mix(in oklch, var(--color-red) 93%, black);
    --color-red-700: color-mix(in oklch, var(--color-red) 87%, black);
    --color-red-750: color-mix(in oklch, var(--color-red) 79%, black);
    --color-red-800: color-mix(in oklch, var(--color-red) 69%, black);
    --color-red-850: color-mix(in oklch, var(--color-red) 57%, black);
    --color-red-900: color-mix(in oklch, var(--color-red) 44%, black);
    --color-red-950: color-mix(in oklch, var(--color-red) 31%, black);
    --color-red-1000: color-mix(in oklch, var(--color-red) 19%, black);

    /* Blue color */

    --color-blue: #0095FF;
    --color-blue-500: var(--color-blue);
    --color-blue-0: color-mix(in oklch, var(--color-blue) 3%, white);
    --color-blue-50: color-mix(in oklch, var(--color-blue) 7%, white);
    --color-blue-100: color-mix(in oklch, var(--color-blue) 13%, white);
    --color-blue-150: color-mix(in oklch, var(--color-blue) 20%, white);
    --color-blue-200: color-mix(in oklch, var(--color-blue) 30%, white);
    --color-blue-250: color-mix(in oklch, var(--color-blue) 41%, white);
    --color-blue-300: color-mix(in oklch, var(--color-blue) 54%, white);
    --color-blue-350: color-mix(in oklch, var(--color-blue) 67%, white);
    --color-blue-400: color-mix(in oklch, var(--color-blue) 80%, white);
    --color-blue-450: color-mix(in oklch, var(--color-blue) 91%, white);
    --color-blue-550: color-mix(in oklch, var(--color-blue) 99%, black);
    --color-blue-600: color-mix(in oklch, var(--color-blue) 97%, black);
    --color-blue-650: color-mix(in oklch, var(--color-blue) 93%, black);
    --color-blue-700: color-mix(in oklch, var(--color-blue) 87%, black);
    --color-blue-750: color-mix(in oklch, var(--color-blue) 79%, black);
    --color-blue-800: color-mix(in oklch, var(--color-blue) 69%, black);
    --color-blue-850: color-mix(in oklch, var(--color-blue) 57%, black);
    --color-blue-900: color-mix(in oklch, var(--color-blue) 44%, black);
    --color-blue-950: color-mix(in oklch, var(--color-blue) 31%, black);
    --color-blue-1000: color-mix(in oklch, var(--color-blue) 19%, black);

    /* Green color */

    --color-green: #23B978;
    --color-green-500: var(--color-green);
    --color-green-0: color-mix(in oklch, var(--color-green) 3%, white);
    --color-green-50: color-mix(in oklch, var(--color-green) 7%, white);
    --color-green-100: color-mix(in oklch, var(--color-green) 13%, white);
    --color-green-150: color-mix(in oklch, var(--color-green) 20%, white);
    --color-green-200: color-mix(in oklch, var(--color-green) 30%, white);
    --color-green-250: color-mix(in oklch, var(--color-green) 41%, white);
    --color-green-300: color-mix(in oklch, var(--color-green) 54%, white);
    --color-green-350: color-mix(in oklch, var(--color-green) 67%, white);
    --color-green-400: color-mix(in oklch, var(--color-green) 80%, white);
    --color-green-450: color-mix(in oklch, var(--color-green) 91%, white);
    --color-green-550: color-mix(in oklch, var(--color-green) 99%, black);
    --color-green-600: color-mix(in oklch, var(--color-green) 97%, black);
    --color-green-650: color-mix(in oklch, var(--color-green) 93%, black);
    --color-green-700: color-mix(in oklch, var(--color-green) 87%, black);
    --color-green-750: color-mix(in oklch, var(--color-green) 79%, black);
    --color-green-800: color-mix(in oklch, var(--color-green) 69%, black);
    --color-green-850: color-mix(in oklch, var(--color-green) 57%, black);
    --color-green-900: color-mix(in oklch, var(--color-green) 44%, black);
    --color-green-950: color-mix(in oklch, var(--color-green) 31%, black);
    --color-green-1000: color-mix(in oklch, var(--color-green) 19%, black);

    /* Orange color */

    --color-orange: #FFA600;
    --color-orange-500: var(--color-orange);
    --color-orange-0: color-mix(in oklch, var(--color-orange) 3%, white);
    --color-orange-50: color-mix(in oklch, var(--color-orange) 7%, white);
    --color-orange-100: color-mix(in oklch, var(--color-orange) 13%, white);
    --color-orange-150: color-mix(in oklch, var(--color-orange) 20%, white);
    --color-orange-200: color-mix(in oklch, var(--color-orange) 30%, white);
    --color-orange-250: color-mix(in oklch, var(--color-orange) 41%, white);
    --color-orange-300: color-mix(in oklch, var(--color-orange) 54%, white);
    --color-orange-350: color-mix(in oklch, var(--color-orange) 67%, white);
    --color-orange-400: color-mix(in oklch, var(--color-orange) 80%, white);
    --color-orange-450: color-mix(in oklch, var(--color-orange) 91%, white);
    --color-orange-550: color-mix(in oklch, var(--color-orange) 99%, black);
    --color-orange-600: color-mix(in oklch, var(--color-orange) 97%, black);
    --color-orange-650: color-mix(in oklch, var(--color-orange) 93%, black);
    --color-orange-700: color-mix(in oklch, var(--color-orange) 87%, black);
    --color-orange-750: color-mix(in oklch, var(--color-orange) 79%, black);
    --color-orange-800: color-mix(in oklch, var(--color-orange) 69%, black);
    --color-orange-850: color-mix(in oklch, var(--color-orange) 57%, black);
    --color-orange-900: color-mix(in oklch, var(--color-orange) 44%, black);
    --color-orange-950: color-mix(in oklch, var(--color-orange) 31%, black);
    --color-orange-1000: color-mix(in oklch, var(--color-orange) 19%, black);

    /* Purple color */

    --color-purple: #A100FF;
    --color-purple-500: var(--color-purple);
    --color-purple-0: color-mix(in oklch, var(--color-purple) 3%, white);
    --color-purple-50: color-mix(in oklch, var(--color-purple) 7%, white);
    --color-purple-100: color-mix(in oklch, var(--color-purple) 13%, white);
    --color-purple-150: color-mix(in oklch, var(--color-purple) 20%, white);
    --color-purple-200: color-mix(in oklch, var(--color-purple) 30%, white);
    --color-purple-250: color-mix(in oklch, var(--color-purple) 41%, white);
    --color-purple-300: color-mix(in oklch, var(--color-purple) 54%, white);
    --color-purple-350: color-mix(in oklch, var(--color-purple) 67%, white);
    --color-purple-400: color-mix(in oklch, var(--color-purple) 80%, white);
    --color-purple-450: color-mix(in oklch, var(--color-purple) 91%, white);
    --color-purple-550: color-mix(in oklch, var(--color-purple) 99%, black);
    --color-purple-600: color-mix(in oklch, var(--color-purple) 97%, black);
    --color-purple-650: color-mix(in oklch, var(--color-purple) 93%, black);
    --color-purple-700: color-mix(in oklch, var(--color-purple) 87%, black);
    --color-purple-750: color-mix(in oklch, var(--color-purple) 79%, black);
    --color-purple-800: color-mix(in oklch, var(--color-purple) 69%, black);
    --color-purple-850: color-mix(in oklch, var(--color-purple) 57%, black);
    --color-purple-900: color-mix(in oklch, var(--color-purple) 44%, black);
    --color-purple-950: color-mix(in oklch, var(--color-purple) 31%, black);
    --color-purple-1000: color-mix(in oklch, var(--color-purple) 19%, black);

    /* Amber color */

    --color-amber: #FFBF00;
    --color-amber-500: var(--color-amber);
    --color-amber-0: color-mix(in oklch, var(--color-amber) 3%, white);
    --color-amber-50: color-mix(in oklch, var(--color-amber) 7%, white);
    --color-amber-100: color-mix(in oklch, var(--color-amber) 13%, white);
    --color-amber-150: color-mix(in oklch, var(--color-amber) 20%, white);
    --color-amber-200: color-mix(in oklch, var(--color-amber) 30%, white);
    --color-amber-250: color-mix(in oklch, var(--color-amber) 41%, white);
    --color-amber-300: color-mix(in oklch, var(--color-amber) 54%, white);
    --color-amber-350: color-mix(in oklch, var(--color-amber) 67%, white);
    --color-amber-400: color-mix(in oklch, var(--color-amber) 80%, white);
    --color-amber-450: color-mix(in oklch, var(--color-amber) 91%, white);
    --color-amber-550: color-mix(in oklch, var(--color-amber) 99%, black);
    --color-amber-600: color-mix(in oklch, var(--color-amber) 97%, black);
    --color-amber-650: color-mix(in oklch, var(--color-amber) 93%, black);
    --color-amber-700: color-mix(in oklch, var(--color-amber) 87%, black);
    --color-amber-750: color-mix(in oklch, var(--color-amber) 79%, black);
    --color-amber-800: color-mix(in oklch, var(--color-amber) 69%, black);
    --color-amber-850: color-mix(in oklch, var(--color-amber) 57%, black);
    --color-amber-900: color-mix(in oklch, var(--color-amber) 44%, black);
    --color-amber-950: color-mix(in oklch, var(--color-amber) 31%, black);
    --color-amber-1000: color-mix(in oklch, var(--color-amber) 19%, black);

    /* Pink color */

    --color-pink: #F96C9C;
    --color-pink-500: var(--color-pink);
    --color-pink-0: color-mix(in oklch, var(--color-pink) 3%, white);
    --color-pink-50: color-mix(in oklch, var(--color-pink) 7%, white);
    --color-pink-100: color-mix(in oklch, var(--color-pink) 13%, white);
    --color-pink-150: color-mix(in oklch, var(--color-pink) 20%, white);
    --color-pink-200: color-mix(in oklch, var(--color-pink) 30%, white);
    --color-pink-250: color-mix(in oklch, var(--color-pink) 41%, white);
    --color-pink-300: color-mix(in oklch, var(--color-pink) 54%, white);
    --color-pink-350: color-mix(in oklch, var(--color-pink) 67%, white);
    --color-pink-400: color-mix(in oklch, var(--color-pink) 80%, white);
    --color-pink-450: color-mix(in oklch, var(--color-pink) 91%, white);
    --color-pink-550: color-mix(in oklch, var(--color-pink) 99%, black);
    --color-pink-600: color-mix(in oklch, var(--color-pink) 97%, black);
    --color-pink-650: color-mix(in oklch, var(--color-pink) 93%, black);
    --color-pink-700: color-mix(in oklch, var(--color-pink) 87%, black);
    --color-pink-750: color-mix(in oklch, var(--color-pink) 79%, black);
    --color-pink-800: color-mix(in oklch, var(--color-pink) 69%, black);
    --color-pink-850: color-mix(in oklch, var(--color-pink) 57%, black);
    --color-pink-900: color-mix(in oklch, var(--color-pink) 44%, black);
    --color-pink-950: color-mix(in oklch, var(--color-pink) 31%, black);
    --color-pink-1000: color-mix(in oklch, var(--color-pink) 19%, black);

    /* Yellow color */

    --color-yellow: #FFDF00;
    --color-yellow-500: var(--color-yellow);
    --color-yellow-0: color-mix(in oklch, var(--color-yellow) 3%, white);
    --color-yellow-50: color-mix(in oklch, var(--color-yellow) 7%, white);
    --color-yellow-100: color-mix(in oklch, var(--color-yellow) 13%, white);
    --color-yellow-150: color-mix(in oklch, var(--color-yellow) 20%, white);
    --color-yellow-200: color-mix(in oklch, var(--color-yellow) 30%, white);
    --color-yellow-250: color-mix(in oklch, var(--color-yellow) 41%, white);
    --color-yellow-300: color-mix(in oklch, var(--color-yellow) 54%, white);
    --color-yellow-350: color-mix(in oklch, var(--color-yellow) 67%, white);
    --color-yellow-400: color-mix(in oklch, var(--color-yellow) 80%, white);
    --color-yellow-450: color-mix(in oklch, var(--color-yellow) 91%, white);
    --color-yellow-550: color-mix(in oklch, var(--color-yellow) 99%, black);
    --color-yellow-600: color-mix(in oklch, var(--color-yellow) 97%, black);
    --color-yellow-650: color-mix(in oklch, var(--color-yellow) 93%, black);
    --color-yellow-700: color-mix(in oklch, var(--color-yellow) 87%, black);
    --color-yellow-750: color-mix(in oklch, var(--color-yellow) 79%, black);
    --color-yellow-800: color-mix(in oklch, var(--color-yellow) 69%, black);
    --color-yellow-850: color-mix(in oklch, var(--color-yellow) 57%, black);
    --color-yellow-900: color-mix(in oklch, var(--color-yellow) 44%, black);
    --color-yellow-950: color-mix(in oklch, var(--color-yellow) 31%, black);
    --color-yellow-1000: color-mix(in oklch, var(--color-yellow) 19%, black);

    /* Beryl color */

    --color-beryl: #ABD5FF;
    --color-beryl-500: var(--color-beryl);
    --color-beryl-0: color-mix(in oklch, var(--color-beryl) 3%, white);
    --color-beryl-50: color-mix(in oklch, var(--color-beryl) 7%, white);
    --color-beryl-100: color-mix(in oklch, var(--color-beryl) 13%, white);
    --color-beryl-150: color-mix(in oklch, var(--color-beryl) 20%, white);
    --color-beryl-200: color-mix(in oklch, var(--color-beryl) 30%, white);
    --color-beryl-250: color-mix(in oklch, var(--color-beryl) 41%, white);
    --color-beryl-300: color-mix(in oklch, var(--color-beryl) 54%, white);
    --color-beryl-350: color-mix(in oklch, var(--color-beryl) 67%, white);
    --color-beryl-400: color-mix(in oklch, var(--color-beryl) 80%, white);
    --color-beryl-450: color-mix(in oklch, var(--color-beryl) 91%, white);
    --color-beryl-550: color-mix(in oklch, var(--color-beryl) 99%, black);
    --color-beryl-600: color-mix(in oklch, var(--color-beryl) 97%, black);
    --color-beryl-650: color-mix(in oklch, var(--color-beryl) 93%, black);
    --color-beryl-700: color-mix(in oklch, var(--color-beryl) 87%, black);
    --color-beryl-750: color-mix(in oklch, var(--color-beryl) 79%, black);
    --color-beryl-800: color-mix(in oklch, var(--color-beryl) 69%, black);
    --color-beryl-850: color-mix(in oklch, var(--color-beryl) 57%, black);
    --color-beryl-900: color-mix(in oklch, var(--color-beryl) 44%, black);
    --color-beryl-950: color-mix(in oklch, var(--color-beryl) 31%, black);
    --color-beryl-1000: color-mix(in oklch, var(--color-beryl) 19%, black);

    /* Sapphirine color */

    --color-sapphirine: #B8B8FF;
    --color-sapphirine-500: var(--color-sapphirine);
    --color-sapphirine-0: color-mix(in oklch, var(--color-sapphirine) 3%, white);
    --color-sapphirine-50: color-mix(in oklch, var(--color-sapphirine) 7%, white);
    --color-sapphirine-100: color-mix(in oklch, var(--color-sapphirine) 13%, white);
    --color-sapphirine-150: color-mix(in oklch, var(--color-sapphirine) 20%, white);
    --color-sapphirine-200: color-mix(in oklch, var(--color-sapphirine) 30%, white);
    --color-sapphirine-250: color-mix(in oklch, var(--color-sapphirine) 41%, white);
    --color-sapphirine-300: color-mix(in oklch, var(--color-sapphirine) 54%, white);
    --color-sapphirine-350: color-mix(in oklch, var(--color-sapphirine) 67%, white);
    --color-sapphirine-400: color-mix(in oklch, var(--color-sapphirine) 80%, white);
    --color-sapphirine-450: color-mix(in oklch, var(--color-sapphirine) 91%, white);
    --color-sapphirine-550: color-mix(in oklch, var(--color-sapphirine) 99%, black);
    --color-sapphirine-600: color-mix(in oklch, var(--color-sapphirine) 97%, black);
    --color-sapphirine-650: color-mix(in oklch, var(--color-sapphirine) 93%, black);
    --color-sapphirine-700: color-mix(in oklch, var(--color-sapphirine) 87%, black);
    --color-sapphirine-750: color-mix(in oklch, var(--color-sapphirine) 79%, black);
    --color-sapphirine-800: color-mix(in oklch, var(--color-sapphirine) 69%, black);
    --color-sapphirine-850: color-mix(in oklch, var(--color-sapphirine) 57%, black);
    --color-sapphirine-900: color-mix(in oklch, var(--color-sapphirine) 44%, black);
    --color-sapphirine-950: color-mix(in oklch, var(--color-sapphirine) 31%, black);
    --color-sapphirine-1000: color-mix(in oklch, var(--color-sapphirine) 19%, black);

    /* Nephritis color */

    --color-nephritis: #3D9970;
    --color-nephritis-500: var(--color-nephritis);
    --color-nephritis-0: color-mix(in oklch, var(--color-nephritis) 3%, white);
    --color-nephritis-50: color-mix(in oklch, var(--color-nephritis) 7%, white);
    --color-nephritis-100: color-mix(in oklch, var(--color-nephritis) 13%, white);
    --color-nephritis-150: color-mix(in oklch, var(--color-nephritis) 20%, white);
    --color-nephritis-200: color-mix(in oklch, var(--color-nephritis) 30%, white);
    --color-nephritis-250: color-mix(in oklch, var(--color-nephritis) 41%, white);
    --color-nephritis-300: color-mix(in oklch, var(--color-nephritis) 54%, white);
    --color-nephritis-350: color-mix(in oklch, var(--color-nephritis) 67%, white);
    --color-nephritis-400: color-mix(in oklch, var(--color-nephritis) 80%, white);
    --color-nephritis-450: color-mix(in oklch, var(--color-nephritis) 91%, white);
    --color-nephritis-550: color-mix(in oklch, var(--color-nephritis) 99%, black);
    --color-nephritis-600: color-mix(in oklch, var(--color-nephritis) 97%, black);
    --color-nephritis-650: color-mix(in oklch, var(--color-nephritis) 93%, black);
    --color-nephritis-700: color-mix(in oklch, var(--color-nephritis) 87%, black);
    --color-nephritis-750: color-mix(in oklch, var(--color-nephritis) 79%, black);
    --color-nephritis-800: color-mix(in oklch, var(--color-nephritis) 69%, black);
    --color-nephritis-850: color-mix(in oklch, var(--color-nephritis) 57%, black);
    --color-nephritis-900: color-mix(in oklch, var(--color-nephritis) 44%, black);
    --color-nephritis-950: color-mix(in oklch, var(--color-nephritis) 31%, black);
    --color-nephritis-1000: color-mix(in oklch, var(--color-nephritis) 19%, black);

    /* Topaz color */

    --color-topaz: #FFC87C;
    --color-topaz-500: var(--color-topaz);
    --color-topaz-0: color-mix(in oklch, var(--color-topaz) 3%, white);
    --color-topaz-50: color-mix(in oklch, var(--color-topaz) 7%, white);
    --color-topaz-100: color-mix(in oklch, var(--color-topaz) 13%, white);
    --color-topaz-150: color-mix(in oklch, var(--color-topaz) 20%, white);
    --color-topaz-200: color-mix(in oklch, var(--color-topaz) 30%, white);
    --color-topaz-250: color-mix(in oklch, var(--color-topaz) 41%, white);
    --color-topaz-300: color-mix(in oklch, var(--color-topaz) 54%, white);
    --color-topaz-350: color-mix(in oklch, var(--color-topaz) 67%, white);
    --color-topaz-400: color-mix(in oklch, var(--color-topaz) 80%, white);
    --color-topaz-450: color-mix(in oklch, var(--color-topaz) 91%, white);
    --color-topaz-550: color-mix(in oklch, var(--color-topaz) 99%, black);
    --color-topaz-600: color-mix(in oklch, var(--color-topaz) 97%, black);
    --color-topaz-650: color-mix(in oklch, var(--color-topaz) 93%, black);
    --color-topaz-700: color-mix(in oklch, var(--color-topaz) 87%, black);
    --color-topaz-750: color-mix(in oklch, var(--color-topaz) 79%, black);
    --color-topaz-800: color-mix(in oklch, var(--color-topaz) 69%, black);
    --color-topaz-850: color-mix(in oklch, var(--color-topaz) 57%, black);
    --color-topaz-900: color-mix(in oklch, var(--color-topaz) 44%, black);
    --color-topaz-950: color-mix(in oklch, var(--color-topaz) 31%, black);
    --color-topaz-1000: color-mix(in oklch, var(--color-topaz) 19%, black);

    /* Amethyst color */

    --color-amethyst: #9381FF;
    --color-amethyst-500: var(--color-amethyst);
    --color-amethyst-0: color-mix(in oklch, var(--color-amethyst) 3%, white);
    --color-amethyst-50: color-mix(in oklch, var(--color-amethyst) 7%, white);
    --color-amethyst-100: color-mix(in oklch, var(--color-amethyst) 13%, white);
    --color-amethyst-150: color-mix(in oklch, var(--color-amethyst) 20%, white);
    --color-amethyst-200: color-mix(in oklch, var(--color-amethyst) 30%, white);
    --color-amethyst-250: color-mix(in oklch, var(--color-amethyst) 41%, white);
    --color-amethyst-300: color-mix(in oklch, var(--color-amethyst) 54%, white);
    --color-amethyst-350: color-mix(in oklch, var(--color-amethyst) 67%, white);
    --color-amethyst-400: color-mix(in oklch, var(--color-amethyst) 80%, white);
    --color-amethyst-450: color-mix(in oklch, var(--color-amethyst) 91%, white);
    --color-amethyst-550: color-mix(in oklch, var(--color-amethyst) 99%, black);
    --color-amethyst-600: color-mix(in oklch, var(--color-amethyst) 97%, black);
    --color-amethyst-650: color-mix(in oklch, var(--color-amethyst) 93%, black);
    --color-amethyst-700: color-mix(in oklch, var(--color-amethyst) 87%, black);
    --color-amethyst-750: color-mix(in oklch, var(--color-amethyst) 79%, black);
    --color-amethyst-800: color-mix(in oklch, var(--color-amethyst) 69%, black);
    --color-amethyst-850: color-mix(in oklch, var(--color-amethyst) 57%, black);
    --color-amethyst-900: color-mix(in oklch, var(--color-amethyst) 44%, black);
    --color-amethyst-950: color-mix(in oklch, var(--color-amethyst) 31%, black);
    --color-amethyst-1000: color-mix(in oklch, var(--color-amethyst) 19%, black);

    /* Ruby color */

    --color-ruby: #A4133C;
    --color-ruby-500: var(--color-ruby);
    --color-ruby-0: color-mix(in oklch, var(--color-ruby) 3%, white);
    --color-ruby-50: color-mix(in oklch, var(--color-ruby) 7%, white);
    --color-ruby-100: color-mix(in oklch, var(--color-ruby) 13%, white);
    --color-ruby-150: color-mix(in oklch, var(--color-ruby) 20%, white);
    --color-ruby-200: color-mix(in oklch, var(--color-ruby) 30%, white);
    --color-ruby-250: color-mix(in oklch, var(--color-ruby) 41%, white);
    --color-ruby-300: color-mix(in oklch, var(--color-ruby) 54%, white);
    --color-ruby-350: color-mix(in oklch, var(--color-ruby) 67%, white);
    --color-ruby-400: color-mix(in oklch, var(--color-ruby) 80%, white);
    --color-ruby-450: color-mix(in oklch, var(--color-ruby) 91%, white);
    --color-ruby-550: color-mix(in oklch, var(--color-ruby) 99%, black);
    --color-ruby-600: color-mix(in oklch, var(--color-ruby) 97%, black);
    --color-ruby-650: color-mix(in oklch, var(--color-ruby) 93%, black);
    --color-ruby-700: color-mix(in oklch, var(--color-ruby) 87%, black);
    --color-ruby-750: color-mix(in oklch, var(--color-ruby) 79%, black);
    --color-ruby-800: color-mix(in oklch, var(--color-ruby) 69%, black);
    --color-ruby-850: color-mix(in oklch, var(--color-ruby) 57%, black);
    --color-ruby-900: color-mix(in oklch, var(--color-ruby) 44%, black);
    --color-ruby-950: color-mix(in oklch, var(--color-ruby) 31%, black);
    --color-ruby-1000: color-mix(in oklch, var(--color-ruby) 19%, black);

    /* Graphite color */

    --color-graphite: #181E24;
    --color-graphite-500: var(--color-graphite);
    --color-graphite-0: color-mix(in oklch, var(--color-graphite) 3%, white);
    --color-graphite-50: color-mix(in oklch, var(--color-graphite) 7%, white);
    --color-graphite-100: color-mix(in oklch, var(--color-graphite) 13%, white);
    --color-graphite-150: color-mix(in oklch, var(--color-graphite) 20%, white);
    --color-graphite-200: color-mix(in oklch, var(--color-graphite) 30%, white);
    --color-graphite-250: color-mix(in oklch, var(--color-graphite) 41%, white);
    --color-graphite-300: color-mix(in oklch, var(--color-graphite) 54%, white);
    --color-graphite-350: color-mix(in oklch, var(--color-graphite) 67%, white);
    --color-graphite-400: color-mix(in oklch, var(--color-graphite) 80%, white);
    --color-graphite-450: color-mix(in oklch, var(--color-graphite) 91%, white);
    --color-graphite-550: color-mix(in oklch, var(--color-graphite) 99%, black);
    --color-graphite-600: color-mix(in oklch, var(--color-graphite) 97%, black);
    --color-graphite-650: color-mix(in oklch, var(--color-graphite) 93%, black);
    --color-graphite-700: color-mix(in oklch, var(--color-graphite) 87%, black);
    --color-graphite-750: color-mix(in oklch, var(--color-graphite) 79%, black);
    --color-graphite-800: color-mix(in oklch, var(--color-graphite) 69%, black);
    --color-graphite-850: color-mix(in oklch, var(--color-graphite) 57%, black);
    --color-graphite-900: color-mix(in oklch, var(--color-graphite) 44%, black);
    --color-graphite-950: color-mix(in oklch, var(--color-graphite) 31%, black);
    --color-graphite-1000: color-mix(in oklch, var(--color-graphite) 19%, black);

    /* Gray color */

    --color-gray: #77879A;
    --color-gray-500: var(--color-gray);
    --color-gray-0: color-mix(in oklch, var(--color-gray) 3%, white);
    --color-gray-50: color-mix(in oklch, var(--color-gray) 7%, white);
    --color-gray-100: color-mix(in oklch, var(--color-gray) 13%, white);
    --color-gray-150: color-mix(in oklch, var(--color-gray) 20%, white);
    --color-gray-200: color-mix(in oklch, var(--color-gray) 30%, white);
    --color-gray-250: color-mix(in oklch, var(--color-gray) 41%, white);
    --color-gray-300: color-mix(in oklch, var(--color-gray) 54%, white);
    --color-gray-350: color-mix(in oklch, var(--color-gray) 67%, white);
    --color-gray-400: color-mix(in oklch, var(--color-gray) 80%, white);
    --color-gray-450: color-mix(in oklch, var(--color-gray) 91%, white);
    --color-gray-550: color-mix(in oklch, var(--color-gray) 99%, black);
    --color-gray-600: color-mix(in oklch, var(--color-gray) 97%, black);
    --color-gray-650: color-mix(in oklch, var(--color-gray) 93%, black);
    --color-gray-700: color-mix(in oklch, var(--color-gray) 87%, black);
    --color-gray-750: color-mix(in oklch, var(--color-gray) 79%, black);
    --color-gray-800: color-mix(in oklch, var(--color-gray) 69%, black);
    --color-gray-850: color-mix(in oklch, var(--color-gray) 57%, black);
    --color-gray-900: color-mix(in oklch, var(--color-gray) 44%, black);
    --color-gray-950: color-mix(in oklch, var(--color-gray) 31%, black);
    --color-gray-1000: color-mix(in oklch, var(--color-gray) 19%, black);

    /* Smoke color */

    --color-smoke: #EFF0F1;
    --color-smoke-500: var(--color-smoke);
    --color-smoke-0: color-mix(in oklch, var(--color-smoke) 3%, white);
    --color-smoke-50: color-mix(in oklch, var(--color-smoke) 7%, white);
    --color-smoke-100: color-mix(in oklch, var(--color-smoke) 13%, white);
    --color-smoke-150: color-mix(in oklch, var(--color-smoke) 20%, white);
    --color-smoke-200: color-mix(in oklch, var(--color-smoke) 30%, white);
    --color-smoke-250: color-mix(in oklch, var(--color-smoke) 41%, white);
    --color-smoke-300: color-mix(in oklch, var(--color-smoke) 54%, white);
    --color-smoke-350: color-mix(in oklch, var(--color-smoke) 67%, white);
    --color-smoke-400: color-mix(in oklch, var(--color-smoke) 80%, white);
    --color-smoke-450: color-mix(in oklch, var(--color-smoke) 91%, white);
    --color-smoke-550: color-mix(in oklch, var(--color-smoke) 99%, black);
    --color-smoke-600: color-mix(in oklch, var(--color-smoke) 97%, black);
    --color-smoke-650: color-mix(in oklch, var(--color-smoke) 93%, black);
    --color-smoke-700: color-mix(in oklch, var(--color-smoke) 87%, black);
    --color-smoke-750: color-mix(in oklch, var(--color-smoke) 79%, black);
    --color-smoke-800: color-mix(in oklch, var(--color-smoke) 69%, black);
    --color-smoke-850: color-mix(in oklch, var(--color-smoke) 57%, black);
    --color-smoke-900: color-mix(in oklch, var(--color-smoke) 44%, black);
    --color-smoke-950: color-mix(in oklch, var(--color-smoke) 31%, black);
    --color-smoke-1000: color-mix(in oklch, var(--color-smoke) 19%, black);

    --color-black: oklab(0 0 0);
    --color-white: oklab(1 0 0);
}
