.tooltipContent {
    --t-color: var(--text-color);

    background: var(--surface-secondary);
    box-shadow: var(--surface-shadow);
    border-radius: var(--radius-3);
    padding: var(--spacing-4) var(--spacing-6);
    z-index: var(--z-index-popover);
    scale: 0;

    transition: scale var(--transition-fast-state-delay) ease;
}

.tooltipContent:where([data-status='open']) {
    scale: 1;
}
