.switch {
    --switch-size: var(--spacing-8);
    --switch-padding: 2px;

    --switch-indicator-size: calc(var(--switch-size) - var(--switch-padding) * 2);

    display: flex;
    align-items: center;
    border-radius: var(--switch-size);
    height: var(--switch-size);
    width: calc(var(--switch-size) * 2 - var(--switch-padding) * 2);
    padding: var(--switch-padding);
    outline: 2px solid transparent;
    cursor: pointer;
    box-sizing: border-box;
    background-color: var(--color-gray-accent-200);
    transition: 
        background-color var(--transition-state-delay) ease-in,
        border-color var(--transition-state-delay) ease-in;
}

/* switch/hover */

.switch:has(input:hover) {
    background-color: var(--color-gray-accent-250);
}

/* switch/focus-visible */

.switch:has(input:focus-visible) {
    outline-color: var(--focus-color);
}

/* switch/active */

.switch:has(input:active) {
    --switch-indicator-size-ratio: .125;
    --switch-indicator-transition-delay: .5s;
    --switch-indicator-width: calc(var(--switch-indicator-size) * (1 + var(--switch-indicator-size-ratio)));

    background-color: var(--color-gray-accent-300);
}

/* switch/checked */

.switch:has(input:checked) {
    --switch-indicator-transform: translateX(100%);
}

/* switch/checked/active */

.switch:has(input:checked:active) {
    --switch-indicator-transform: translateX(calc(100% - var(--switch-indicator-size) * var(--switch-indicator-size-ratio) * 2));
}

/* switch/checked/primary */

.switch[data-variant='primary']:has(input:checked) {
    background-color: var(--color-primary-500);
}

/* switch/checked/secondary */

.switch[data-variant='secondary']:has(input:checked) {
    background-color: var(--color-secondary-500);
}

/* switch/disabled */

.switch[data-variant]:has(input:disabled) {
    cursor: not-allowed;
    background-color: var(--disable-background-color);
    --switch-indicator-color: var(--disable-border-color);
}

.switch[data-size='sm'] {
    --switch-size: var(--spacing-12);
}

.switch[data-size='md'] {
    --switch-size: var(--spacing-14);
}

.switch[data-size='lg'] {
    --switch-size: var(--spacing-16);
}