.button {
    position: relative;
    transform: translateX(calc(-100% - 4px));
    transition: transform var(--transition-fast-state-delay) ease-in-out,
    background-color var(--transition-fast-state-delay) ease-in-out,
    color var(--transition-fast-state-delay) ease-in-out,
    border-color var(--transition-fast-state-delay) ease-in-out;
}

.button:where([data-visible='true']) {
    transform: translateX(0);
}
