.meter {
    --meter-height: var(--spacing-2);
    --meter-br-ratio: 1;
    --meter-value: 0;
    --meter-max: 1;

    --meter-track-optimum-color: var(--color-green-500);
    --meter-track-suboptimum-color: var(--color-amber-500);
    --meter-track-even-less-good-color: var(--color-red-500);

    height: var(--meter-height);
    border-radius: calc(var(--meter-height) * var(--meter-br-ratio));

    background-color: var(--fills-secondary);
    overflow-x: clip;
}

.meter:where([data-full-width='true']) {
    width: 100%;
}

.meter:where([data-size='sm']) {
    --meter-height: var(--spacing-2);
}

.meter:where([data-size='md']) {
    --meter-height: var(--spacing-4);
}

.meter:where([data-size='lg']) {
    --meter-height: var(--spacing-6);
}

.meter:where([data-variant='primary']) {
    --meter-track-color: var(--color-primary-500);
}

.meter:where([data-variant='secondary']) {
    --meter-track-color: var(--color-secondary-500);
}

.meter:where([data-state='good']) {
    --meter-track-color: var(--meter-track-optimum-color);
}

.meter:where([data-state='warn']) {
    --meter-track-color: var(--meter-track-suboptimum-color);
}

.meter:where([data-state='bad']) {
    --meter-track-color: var(--meter-track-even-less-good-color);
}