.slider {
    --slider-size: 0;
    --slider-br-ratio: 1;

    --slider-base-value: 0;
    --slider-base-max: 100;
    --slider-base-min: 0;

    --slider-base-progress-color: transparent;

    --slider-base-thumb-border-color: transparent;
    --slider-base-thumb-border-color-hover: transparent;
    --slider-base-thumb-border-color-active: transparent;

    --slider-base-thumb-color: var(--background-color);

    position: relative;
    touch-action: none;
    isolation: isolate;

    display: flex;
    align-items: center;

    background-color: var(--fills-secondary);
    border-radius: calc(var(--slider-size) * var(--slider-br-ratio));
    margin: calc((var(--slider-size) * 4 - var(--slider-size)) / 2) 0;
}

.slider:before {
    content: '';
    position: absolute;
    height: calc(var(--slider-size) * 4);
    width: 100%;
}

.slider:where([data-orientation='horizontal']) {
    height: var(--slider-size);
    flex-direction: row;
}

.slider:where([data-orientation='vertical']) {
    width: var(--slider-size);
    flex-direction: column;
}

.slider:where([data-size='sm']) {
    --slider-size: var(--spacing-2);
}

.slider:where([data-size='md']) {
    --slider-size: var(--spacing-3);
}

.slider:where([data-size='lg']) {
    --slider-size: var(--spacing-4);
}

.slider:where([data-variant='primary']) {
    --slider-base-progress-color: var(--color-primary-500);

    --slider-base-thumb-border-color: var(--color-primary-500);
    --slider-base-thumb-border-color-hover: var(--color-primary-600);
    --slider-base-thumb-border-color-active: var(--color-primary-700);
}

.slider:where([data-variant='secondary']) {
    --slider-base-progress-color: var(--color-secondary-500);

    --slider-base-thumb-border-color: var(--color-secondary-500);
    --slider-base-thumb-border-color-hover: var(--color-secondary-600);
    --slider-base-thumb-border-color-active: var(--color-secondary-700);
}

.slider:where([data-disabled='true']) {
    cursor: not-allowed;

    --slider-base-progress-color: var(--disable-label-text-color);
    --slider-base-thumb-border-color: var(--disable-label-text-color);
}