.overlay {
    z-index: var(--z-index-overlay);
    overflow: hidden !important;
}

.overlay::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--overlay);
}

.overlay[data-blurred='true']::after {
    backdrop-filter: blur(2px);
}