.button {
    --button-height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: var(--spacing-5);
    height: var(--button-height);
    box-sizing: border-box;
}

.button[data-size='small'] {
    --button-height: var(--spacing-21);
    font-size: var(--font-size-2);
    padding: var(--spacing-6) var(--spacing-10);
    border-radius: var(--radius-3);
}

.button[data-size='small'] .spinner {
    --spinner-size: var(--font-size-2);
    --spinner-width: var(--spacing-1);
}

.button[data-size='medium'] {
    --button-height: var(--spacing-24);
    font-size: var(--font-size-3);
    padding: var(--spacing-7) var(--spacing-18);
    border-radius: var(--radius-3);
}

.button[data-size='medium'] .spinner {
    --spinner-size: var(--font-size-3);
    --spinner-width: var(--spacing-1);
}

.button[data-size='large'] {
    --button-height: var(--spacing-27);
    font-size: var(--font-size-4);
    padding: var(--spacing-8) var(--spacing-24);
    border-radius: var(--radius-4);
}

.button[data-size='large'] .spinner {
    --spinner-size: var(--font-size-4);
    --spinner-width: var(--spacing-1);
}

.button[data-full-width='true'] {
    width: 100%;
}