.badge {
    --badge-size: var(--spacing-14);
    --badge-padding-inline: 0;
    --badge-border-radius-ratio: 0.333;
    --badge-font-size: var(--font-size-1);
    --badge-background-color: var(--color-blue-accent-500);
    --badge-border-color: transparent;
    --badge-color: var(--color-white);
    --badge-chroma-ratio: 0.03;

    display: inline-flex;
    flex-shrink: 0;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    justify-content: center;
    gap: var(--spacing-8);
    box-sizing: border-box;
    border: 1px solid var(--badge-border-color);
    font-family: var(--default-font-family);

    background-color: var(--badge-background-color);
    color: var(--badge-color);
    font-size: var(--badge-font-size);

    height: var(--badge-size);
    min-width: var(--badge-size);
    padding-inline: calc(var(--badge-size) / 2.5);
    border-radius: calc(var(--badge-size) * var(--badge-border-radius-ratio));
}


.badge:where([data-size='xs']) {
    --badge-size: var(--spacing-14);
    --badge-font-size: var(--font-size-1);
}

.badge:where([data-size='sm']) {
    --badge-size: var(--spacing-16);
    --badge-font-size: var(--font-size-2);
}

.badge:where([data-size='md']) {
    --badge-size: var(--spacing-18);
    --badge-font-size: var(--font-size-3);
}

.badge:where([data-size='lg']) {
    --badge-size: var(--spacing-20);
    --badge-font-size: var(--font-size-4);
}

.badge:where([data-size='xl']) {
    --badge-size: var(--spacing-22);
    --badge-font-size: var(--font-size-5);
}

/* Info variant */

.badge:where([data-variant='info'][data-appearance='ghost']) {
    --badge-color: var(--color-blue-accent-700);
    --badge-background-color: oklch(from var(--color-blue-500) l calc(c + var(--badge-chroma-ratio)) h / 0.10);
}

.badge:where([data-variant='info'][data-appearance='outline']) {
    --badge-color: var(--color-blue-accent-500);
    --badge-background-color: transparent;
    --badge-border-color: var(--color-blue-accent-500);
}

.badge:where([data-variant='info'][data-appearance='fill']) {
    --badge-color: var(--color-white);
    --badge-background-color: var(--color-blue-accent-500);
}

.badge:where([data-variant='info'][data-appearance='surface']) {
    --badge-color: var(--color-blue-accent-700);
    --badge-background-color: var(--color-blue-accent-0);
    --badge-border-color: var(--color-blue-accent-700);
}

/* Success variant */

.badge:where([data-variant='success'][data-appearance='ghost']) {
    --badge-color: var(--color-green-accent-700);
    --badge-background-color: oklch(from var(--color-green-500) l calc(c + var(--badge-chroma-ratio)) h / 0.10);
}

.badge:where([data-variant='success'][data-appearance='outline']) {
    --badge-color: var(--color-green-accent-500);
    --badge-background-color: transparent;
    --badge-border-color: var(--color-green-accent-500);
}

.badge:where([data-variant='success'][data-appearance='fill']) {
    --badge-color: var(--color-white);
    --badge-background-color: var(--color-green-accent-500);
}

.badge:where([data-variant='success'][data-appearance='surface']) {
    --badge-color: var(--color-green-accent-700);
    --badge-background-color: var(--color-green-accent-0);
    --badge-border-color: var(--color-green-accent-700);
}

/* Error variant */

.badge:where([data-variant='error'][data-appearance='ghost']) {
    --badge-color: var(--color-red-accent-700);
    --badge-background-color: oklch(from var(--color-red-500) l calc(c + var(--badge-chroma-ratio)) h / 0.10);
}

.badge:where([data-variant='error'][data-appearance='outline']) {
    --badge-color: var(--color-red-accent-500);
    --badge-background-color: transparent;
    --badge-border-color: var(--color-red-accent-500);
}

.badge:where([data-variant='error'][data-appearance='fill']) {
    --badge-color: var(--color-white);
    --badge-background-color: var(--color-red-accent-500);
}

.badge:where([data-variant='error'][data-appearance='surface']) {
    --badge-color: var(--color-red-accent-700);
    --badge-background-color: var(--color-red-accent-0);
    --badge-border-color: var(--color-red-accent-700);
}

/* Warning variant */

.badge:where([data-variant='warning'][data-appearance='ghost']) {
    --badge-color: var(--color-amber-accent-700);
    --badge-background-color: oklch(from var(--color-amber-500) l calc(c + var(--badge-chroma-ratio)) h / 0.10);
}

.badge:where([data-variant='warning'][data-appearance='outline']) {
    --badge-color: var(--color-amber-accent-500);
    --badge-background-color: transparent;
    --badge-border-color: var(--color-amber-accent-500);
}

.badge:where([data-variant='warning'][data-appearance='fill']) {
    --badge-color: var(--color-white);
    --badge-background-color: var(--color-amber-accent-500);
}

.badge:where([data-variant='warning'][data-appearance='surface']) {
    --badge-color: var(--color-amber-accent-700);
    --badge-background-color: var(--color-amber-accent-0);
    --badge-border-color: var(--color-amber-accent-700);
}
