.combobox {
    --select-combobox-br-ratio: var(--select-br-ratio);

    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    gap: var(--spacing-10);
    user-select: none;
    cursor: pointer;
    border: none;
    font-family: var(--default-font-family);
    font-size: var(--font-size-3);
    box-sizing: border-box;
    height: var(--select-size);
    border-radius: calc(var(--select-size) * var(--select-combobox-br-ratio));
}

.combobox[data-size='sm'] {
    padding: var(--spacing-5) var(--spacing-8);
    gap: var(--spacing-8);
}

.combobox[data-size='md'] {
    padding: var(--spacing-5) var(--spacing-10);
    gap: var(--spacing-10);
}

.combobox[data-size='lg'] {
    padding: var(--spacing-5) var(--spacing-10);
    gap: var(--spacing-12);
}

.combobox[data-variant='field'] {
    outline: 1px solid transparent;
    background-color: var(--field-background-color);

    transition: outline var(--transition-state-delay) ease-in-out,
                background-color var(--transition-state-delay) ease;
}

/* combobox/field/hover */

.combobox[data-variant='field']:hover {
    background-color: var(--field-background-hover-color);
}

/* combobox/field/focus */

.combobox[data-variant='field'][data-open='true'],
.combobox[data-variant='field']:focus {
    outline-color: var(--field-border-focus-color);
}

/* combobox/field/disabled */

.combobox[data-variant='field']:disabled {
    background-color: var(--disable-background-color);
}

/* combobox/inline */

.combobox[data-variant='inline'] {
    outline: 1px solid transparent;
    transition:
            outline-color var(--transition-state-delay) ease-in-out,
            background-color var(--transition-state-delay) ease-in-out;
}

/* combobox/inline/focus */

.combobox[data-variant='inline'][data-open='true'],
.combobox[data-variant='inline']:focus {
    outline-color: var(--field-border-focus-color);
    background-color: transparent;
}

/* combobox/inline/disabled */

.combobox[data-variant='inline']:disabled {
    background-color: transparent;
    outline-color: transparent;
}

/* combobox/disabled */

.combobox:disabled {
    cursor: not-allowed;

    --select-icon-color: var(--disable-placeholder-text-color);
    --select-placeholder-color: var(--disable-placeholder-text-color);
    --select-value-color: var(--disable-text-color);
}