.combobox {
    --select-combobox-br-ratio: var(--select-br-ratio);

    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    gap: var(--spacing-10);
    user-select: none;
    cursor: pointer;
    border: none;
    font-family: var(--default-font-family);
    font-size: var(--font-size-3);
    box-sizing: border-box;
    height: var(--select-size);
    border-radius: calc(var(--select-size) * var(--select-combobox-br-ratio));
}

.combobox:where([data-size='sm']) {
    padding: var(--spacing-5) var(--spacing-8);
    gap: var(--spacing-8);
}

.combobox:where([data-size='md']) {
    padding: var(--spacing-5) var(--spacing-10);
    gap: var(--spacing-10);
}

.combobox:where([data-size='lg']) {
    padding: var(--spacing-5) var(--spacing-10);
    gap: var(--spacing-12);
}

.combobox:where([data-variant='field']) {
    outline: 1px solid transparent;
    background-color: var(--fills-tertiary);

    transition: outline var(--transition-state-delay) ease-in-out,
                background-color var(--transition-state-delay) ease;
}

/* combobox/field/hover */

.combobox:where([data-variant='field']):hover {
    background-color: var(--fills-tertiary-hover);
}

/* combobox/field/focus */

.combobox:where([data-variant='field'][data-open='true']),
.combobox:where([data-variant='field']):focus {
    outline-color: var(--color-primary-500);
}

/* combobox/field/disabled */

.combobox:where([data-variant='field']):disabled {
    background-color: var(--disable-background-color);
}

/* combobox/inline */

.combobox:where([data-variant='inline']) {
    outline: 1px solid transparent;
    transition:
            outline-color var(--transition-state-delay) ease-in-out,
            background-color var(--transition-state-delay) ease-in-out;
}

/* combobox/inline/focus */

.combobox:where([data-variant='inline'][data-open='true']),
.combobox:where([data-variant='inline']):focus {
    outline-color: var(--color-primary-500);
    background-color: transparent;
}

/* combobox/inline/disabled */

.combobox:where([data-variant='inline']):disabled {
    background-color: transparent;
    outline-color: transparent;
}

/* combobox/disabled */

.combobox:disabled {
    cursor: not-allowed;

    --select-icon-color: var(--disable-label-text-color);
    --select-placeholder-color: var(--disable-label-text-color);
    --select-value-color: var(--disable-text-color);
}
