.separator {
    height: 1px;
    background-color: var(--color-gray-accent-150);
}

.separator[data-size='sm'] {
    width: var(--spacing-10);
}

.separator[data-size='md'] {
    width: var(--spacing-12);
}

.separator[data-size='lg'] {
    width: var(--spacing-14);
}