.separator {
    height: 1px;
    background-color: var(--separator-opaque);
}

.separator:where([data-size='sm']) {
    width: var(--spacing-10);
}

.separator:where([data-size='md']) {
    width: var(--spacing-12);
}

.separator:where([data-size='lg']) {
    width: var(--spacing-14);
}
