.slot {
    --input-br-ratio: 0.333;

    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--input-height);
    width: var(--input-height);
    aspect-ratio: 1 / 1;
    border-radius: calc(var(--input-height) * var(--input-br-ratio));
    outline: 1px solid transparent;
    transition: outline-color var(--transition-state-delay) ease,
                background-color var(--transition-state-delay) ease;
    will-change: outline-color;
    font-family: var(--default-font-family);
    background-color: var(--fills-tertiary);
    color: var(--text-color);
    cursor: text;
}

.slot:where([data-size='sm']) {
    --input-height: var(--spacing-21);
    --cursor-height: var(--text-font-size-2);

    font-size: var(--text-font-size-2);
    line-height: var(--line-height-2);
}

.slot:where([data-size='md']) {
    --input-height: var(--spacing-24);
    --cursor-height: var(--text-font-size-3);

    font-size: var(--text-font-size-3);
    line-height: var(--line-height-3);
}

.slot:where([data-size='lg']) {
    --input-height: var(--spacing-27);
    --cursor-height: var(--text-font-size-4);

    font-size: var(--text-font-size-4);
    line-height: var(--line-height-4);
}

.slot:before {
    content: '';
    visibility: hidden;
    width: 1px;
    display: block;
    background-color: var(--text-color);
    animation: cursor-blink 1s steps(2) infinite;
    height: var(--cursor-height);
}

/* slot/error */

.slot:where([data-error='true']) {
    outline-color: var(--color-error);
}

/* slot/hover */

.slot:hover {
    background-color: var(--fills-tertiary-hover);
}

/* slot/active */

.slot:where([data-active='true']):not([data-disabled='true']) {
    outline-color: var(--color-primary-500);
}

.slot:where([data-caret='true'][data-placeholder='true'][data-disabled='false']):before {
    visibility: visible;
}

/* slot/disabled */

.slot:where([data-disabled='true']) {
    cursor: not-allowed;
    background-color: var(--disable-background-color);
    color: var(--disable-text-color);
    transition: background-color var(--transition-state-delay) ease-in-out;
}

/* placeholder */

.slot:where([data-placeholder='true']) {
    color: var(--label-tertiary);
}

/* placeholder/disable */

.slot:where([data-disabled='true'][data-placeholder='true']) {
    color: var(--disable-label-text-color);
}

@keyframes cursor-blink {
    0% {
        opacity: 0;
    }
}
