.icon {
    --select-icon-color: var(--label-tertiary);

    color: var(--select-icon-color);
    transition: transform var(--transition-fast-state-delay) ease-in-out;
}

.icon:where([data-open='true']) {
    transform: rotate(180deg);
}
