.content {
    transition: height var(--transition-fast-state-delay) ease;
    overflow-y: hidden;
    padding-bottom: var(--spacing-4);
}

.content[data-open='true'] {
    height: var(--content-height);
}

.content[data-open='false'] {
    height: 0;
}