.controlWrapper {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    position: relative;
    isolation: isolate;
}

.controlWrapper:has(:focus-visible) {
    outline: 2px solid var(--focus-color);
}

.controlWrapper[data-variant='primary'] {
    background-color: var(--color-primary-50);
}

.controlWrapper[data-variant='secondary'] {
    background-color: var(--color-secondary-50);
}

.active {
    display: block;
    border-radius: inherit;
    position: absolute;
    z-index: -1;
    pointer-events: none;
    box-sizing: border-box;
    top: 0;
    left: 0;
    height: 100%;
    transition: transform var(--transition-fast-state-delay) ease-in-out;
}

.active[data-variant='primary'] {
    background-color: var(--color-primary-500);
}

.active[data-variant='secondary'] {
    background-color: var(--color-secondary-500);
}

.active[data-disabled='true'] {
    background-color: var(--color-gray-accent-100);
}

.controlWrapper[data-size='small'] {
    border-radius: var(--radius-3);
}

.controlWrapper[data-size='medium'] {
    border-radius: var(--radius-3);
}

.controlWrapper[data-size='large'] {
    border-radius: var(--radius-4);
}