.icon {
    flex-shrink: 0;
    transform: rotate(0deg);
    transition: transform var(--transition-fast-state-delay) ease-in-out;
}

.icon {
    color: var(--color-primary-500);
}

.icon[data-variant='secondary'] {
    color: var(--color-secondary-500);
}

.icon[data-open='true'] {
    transform: rotate(180deg);
}