.radio {
    --radio-size: 16px;

    --radio-border-color: var(--fills-primary);
    --radio-border-color-hover: var(--fills-primary-hover);
    --radio-border-color-active: var(--fills-primary-active);

    height: var(--radio-size);
    width: var(--radio-size);
    margin: 0;
    appearance: none;
    border-radius: 50%;
    border: 1px solid var(--radio-border-color);
    cursor: pointer;
    box-sizing: border-box;
    transition: all var(--transition-state-delay) ease-in;
}

/* sizes */

.radio:where([data-size='sm']) {
    --radio-size: var(--spacing-8);
}

.radio:where([data-size='md']) {
    --radio-size: var(--spacing-10);
}

.radio:where([data-size='lg']) {
    --radio-size: var(--spacing-12);
}

/* primary/checked */

.radio:where([data-variant='primary']):checked {
    --radio-border-color: var(--color-primary-500);
    --radio-border-color-hover: var(--color-primary-500);
    --radio-border-color-active: var(--color-primary-500);
    border-width: calc(var(--radio-size) / 3);
}

/* secondary/checked */

.radio:where([data-variant='secondary']):checked {
    --radio-border-color: var(--color-secondary-500);
    --radio-border-color-hover: var(--color-secondary-500);
    --radio-border-color-active: var(--color-secondary-500);
    border-width: calc(var(--radio-size) / 3);
}

/* disabled */

.radio:disabled {
    cursor: not-allowed;
    background-color: var(--disable-background-color);
    --radio-border-color: transparent;
    --radio-border-color-hover: transparent;
    --radio-border-color-active: transparent;
}

.radio:checked:disabled {
    --radio-border-color: var(--disable-text-color);
    --radio-border-color-hover: var(--disable-text-color);
    --radio-border-color-active: var(--disable-text-color);
}

/* focus */

.radio:focus-visible {
    outline-offset: 0;
    outline: 4px solid var(--focus-color);
}

/* interactive states */

.radio:not(:disabled):hover {
    --radio-border-color: var(--radio-border-color-hover);
}

.radio:not(:disabled):active {
    --radio-border-color: var(--radio-border-color-active);
}