.avatar:not(:first-child) {
    --avatar-stack-item-gap: calc(var(--avatar-size) * 0.125);
    --r: calc(var(--avatar-size) / 2);
    --x: calc(var(--avatar-size) / -2 + var(--avatar-stack-item-gap));
    --y: calc(var(--avatar-size) / 2);

    mask-image: radial-gradient(
            ellipse 1px 1px at var(--x) var(--y),
            #0000 var(--r),
            #000 0
    );
    mask-repeat: no-repeat;

    transition: --r var(--transition-fast-state-delay) ease-in-out,
                margin var(--transition-state-delay) ease-in-out;
}

.avatar:not(:first-child):hover {
    margin-inline: 4px;
}

.avatar:not(:first-child):hover,
.avatar:not(:first-child):hover + .avatar {
    --r: 0px;
}