:root {
    --radius: 4px;

    --radius-1: calc(var(--spacing) * 1);
    --radius-2: calc(var(--spacing) * 2);
    --radius-3: calc(var(--spacing) * 3);
    --radius-4: calc(var(--spacing) * 4);
    --radius-5: calc(var(--spacing) * 5);
    --radius-6: calc(var(--spacing) * 6);
    --radius-8: calc(var(--spacing) * 8);
}