:root {
    --font-size-1: 0.75rem;
    --font-size-2: 0.875rem;
    --font-size-3: 1rem;
    --font-size-4: 1.125rem;
    --font-size-5: 1.25rem;
    --font-size-6: 1.5rem;
    --font-size-7: 1.75rem;
    --font-size-8: 2rem;
    --font-size-9: 2.5rem;
    --font-size-10: 3rem;
    --font-size-11: 4rem;

    --line-height-1: 1.25rem;
    --line-height-2: 1.5rem;
    --line-height-3: 1.5rem;
    --line-height-4: 2rem;
    --line-height-5: 2rem;
    --line-height-6: 2.5rem;
    --line-height-7: 2.75rem;
    --line-height-8: 3rem;
    --line-height-9: 3.25rem;
    --line-height-10: 3.5rem;
    --line-height-11: 5rem;

    --default-font-family: Montserrat, Arial, sans-serif;
    --default-font-size: var(--font-size-3);
    --default-font-style: normal;
    --default-font-weight: 400;
    --default-line-height: 1.5;

    /* Text */

    --text-font-size-1: var(--font-size-1);
    --text-font-size-2: var(--font-size-2);
    --text-font-size-3: var(--font-size-3);
    --text-font-size-4: var(--font-size-4);
    --text-font-size-5: var(--font-size-5);
    --text-font-size-6: clamp(var(--font-size-6) - 0.125rem, 3vw + 1rem, var(--font-size-6));
    --text-font-size-7: clamp(var(--font-size-7) - 0.25rem, 3vw + 1rem, var(--font-size-7));
    --text-font-size-8: clamp(var(--font-size-8) - 0.25rem, 3vw + 1rem, var(--font-size-8));
    --text-font-size-9: clamp(var(--font-size-9) - 0.25rem, 3vw + 1rem, var(--font-size-9));
    --text-font-size-10: clamp(var(--font-size-10) - 0.5rem, 3vw + 1rem, var(--font-size-10));
    --text-font-size-11: clamp(var(--font-size-11) - 0.5rem, 3vw + 1rem, var(--font-size-11));

    /* Heading */

    --heading-font-family: var(--default-font-family);
    --heading-font-size-adjust: 1;
    --heading-font-style: normal;
    --heading-font-weight: 500;
    --heading-letter-spacing: 0em;

    --heading-line-height-1: 1.25rem;
    --heading-line-height-2: 1.5rem;
    --heading-line-height-3: 1.75rem;
    --heading-line-height-4: 2rem;
    --heading-line-height-5: 2rem;
    --heading-line-height-6: 2.5rem;
    --heading-line-height-7: 2.75rem;
    --heading-line-height-8: 3rem;
    --heading-line-height-9: 3.25rem;
    --heading-line-height-10: 3.5rem;
    --heading-line-height-11: 5rem;
}

@font-face {
    font-family: Montserrat;
    font-display: auto;
    font-style: normal;
    font-weight: 900;
    src: url('/fonts/Montserrat-Black.woff2') format('woff2'), url('/fonts/Montserrat-Black.ttf') format('truetype');
}

@font-face {
    font-family: Montserrat;
    font-display: auto;
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/Montserrat-Bold.woff2') format('woff2'), url('/fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
    font-family: Montserrat;
    font-display: auto;
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/Montserrat-Medium.woff2') format('woff2'), url('/fonts/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
    font-family: Montserrat;
    font-display: auto;
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Montserrat-Regular.woff2') format('woff2'), url('/fonts/Montserrat-Regular.ttf') format('truetype');
}