@import "@vega-ui/tokens-core";

.light {
    --background-color: #FFFFFF;

    --focus-color: var(--color-blue-300);
    --overlay: rgba(222, 222, 222, .4);

    --text-color: #000000;
    --text-color-inverce: #FFFFFF;

    --color-error: var(--color-red-accent-500);

    /* ============================================
                           FILLS
    ============================================ */

    --fills-primary: oklch(0.45 0.125 252 / 0.24);
    --fills-primary-hover: oklch(0.45 0.125 252 / 0.28);
    --fills-primary-active: oklch(0.45 0.125 252 / 0.32);

    --fills-secondary: oklch(0.45 0.125 252 / 0.10);
    --fills-secondary-hover: oklch(0.45 0.125 252 / 0.14);
    --fills-secondary-active: oklch(0.45 0.125 252 / 0.18);

    --fills-tertiary: oklch(0.45 0.125 252 / 0.04);
    --fills-tertiary-hover: oklch(0.45 0.125 252 / 0.08);
    --fills-tertiary-active: oklch(0.45 0.125 252 / 0.12);

    --fills-quaternary: oklch(0.45 0.125 252 / 0.04);
    --fills-quaternary-hover: oklch(0.45 0.125 252 / 0.06);
    --fills-quaternary-active: oklch(0.45 0.125 252 / 0.08);

    /* ============================================
                           LABELS
    ============================================ */

    --label-primary: var(--text-color);
    --label-secondary: var(--color-gray-700);
    --label-tertiary: var(--color-gray-600);
    --label-quaternary: var(--color-gray-500);

    /* ============================================
                           DISABLE
    ============================================ */

    --disable-text-color: var(--label-secondary);
    --disable-background-color: var(--fills-secondary);
    --disable-label-text-color: var(--label-tertiary);
    --disable-border-color: var(--fills-secondary);

    /* ============================================
                           SEPARATORS
    ============================================ */

    --separator-opaque: var(--color-gray-200);
    --separator-non-opaque: var(--fills-secondary);

    /* ============================================
                           BORDERS
    ============================================ */

    --border-color: var(--color-gray-200);
    --border-color-hover: var(--color-gray-300);
    --border-color-active: var(--color-gray-400);

    /* ============================================
                           SURFACE
    ============================================ */

    --surface-shadow: var(--black-shadow);
    --surface-primary: #FFFFFF;
    --surface-secondary: #FFFFFF;

    /* ============================================
                           COLORS
    ============================================ */

    /* Red color */
    --color-red-accent-0: var(--color-red-0);
    --color-red-accent-100: var(--color-red-100);
    --color-red-accent-200: var(--color-red-200);
    --color-red-accent-300: var(--color-red-300);
    --color-red-accent-400: var(--color-red-400);
    --color-red-accent-500: var(--color-red-500);
    --color-red-accent-600: var(--color-red-600);
    --color-red-accent-700: var(--color-red-700);
    --color-red-accent-800: var(--color-red-800);
    --color-red-accent-900: var(--color-red-900);
    --color-red-accent-1000: var(--color-red-1000);

    /* Blue color */
    --color-blue-accent-0: var(--color-blue-0);
    --color-blue-accent-100: var(--color-blue-100);
    --color-blue-accent-200: var(--color-blue-200);
    --color-blue-accent-300: var(--color-blue-300);
    --color-blue-accent-400: var(--color-blue-400);
    --color-blue-accent-500: var(--color-blue-500);
    --color-blue-accent-600: var(--color-blue-600);
    --color-blue-accent-700: var(--color-blue-700);
    --color-blue-accent-800: var(--color-blue-800);
    --color-blue-accent-900: var(--color-blue-900);
    --color-blue-accent-1000: var(--color-blue-1000);

    /* Green color */
    --color-green-accent-0: var(--color-green-0);
    --color-green-accent-100: var(--color-green-100);
    --color-green-accent-200: var(--color-green-200);
    --color-green-accent-300: var(--color-green-300);
    --color-green-accent-400: var(--color-green-400);
    --color-green-accent-500: var(--color-green-500);
    --color-green-accent-600: var(--color-green-600);
    --color-green-accent-700: var(--color-green-700);
    --color-green-accent-800: var(--color-green-800);
    --color-green-accent-900: var(--color-green-900);
    --color-green-accent-1000: var(--color-green-1000);

    /* Orange color */
    --color-orange-accent-0: var(--color-orange-0);
    --color-orange-accent-100: var(--color-orange-100);
    --color-orange-accent-200: var(--color-orange-200);
    --color-orange-accent-300: var(--color-orange-300);
    --color-orange-accent-400: var(--color-orange-400);
    --color-orange-accent-500: var(--color-orange-500);
    --color-orange-accent-600: var(--color-orange-600);
    --color-orange-accent-700: var(--color-orange-700);
    --color-orange-accent-800: var(--color-orange-800);
    --color-orange-accent-900: var(--color-orange-900);
    --color-orange-accent-1000: var(--color-orange-1000);

    /* Purple color */
    --color-purple-accent-0: var(--color-purple-0);
    --color-purple-accent-100: var(--color-purple-100);
    --color-purple-accent-200: var(--color-purple-200);
    --color-purple-accent-300: var(--color-purple-300);
    --color-purple-accent-400: var(--color-purple-400);
    --color-purple-accent-500: var(--color-purple-500);
    --color-purple-accent-600: var(--color-purple-600);
    --color-purple-accent-700: var(--color-purple-700);
    --color-purple-accent-800: var(--color-purple-800);
    --color-purple-accent-900: var(--color-purple-900);
    --color-purple-accent-1000: var(--color-purple-1000);

    /* Amber color */
    --color-amber-accent-0: var(--color-amber-0);
    --color-amber-accent-100: var(--color-amber-100);
    --color-amber-accent-200: var(--color-amber-200);
    --color-amber-accent-300: var(--color-amber-300);
    --color-amber-accent-400: var(--color-amber-400);
    --color-amber-accent-500: var(--color-amber-500);
    --color-amber-accent-600: var(--color-amber-600);
    --color-amber-accent-700: var(--color-amber-700);
    --color-amber-accent-800: var(--color-amber-800);
    --color-amber-accent-900: var(--color-amber-900);
    --color-amber-accent-1000: var(--color-amber-1000);

    /* Pink color */
    --color-pink-accent-0: var(--color-pink-0);
    --color-pink-accent-100: var(--color-pink-100);
    --color-pink-accent-200: var(--color-pink-200);
    --color-pink-accent-300: var(--color-pink-300);
    --color-pink-accent-400: var(--color-pink-400);
    --color-pink-accent-500: var(--color-pink-500);
    --color-pink-accent-600: var(--color-pink-600);
    --color-pink-accent-700: var(--color-pink-700);
    --color-pink-accent-800: var(--color-pink-800);
    --color-pink-accent-900: var(--color-pink-900);
    --color-pink-accent-1000: var(--color-pink-1000);

    /* Yellow color */
    --color-yellow-accent-0: var(--color-yellow-0);
    --color-yellow-accent-100: var(--color-yellow-100);
    --color-yellow-accent-200: var(--color-yellow-200);
    --color-yellow-accent-300: var(--color-yellow-300);
    --color-yellow-accent-400: var(--color-yellow-400);
    --color-yellow-accent-500: var(--color-yellow-500);
    --color-yellow-accent-600: var(--color-yellow-600);
    --color-yellow-accent-700: var(--color-yellow-700);
    --color-yellow-accent-800: var(--color-yellow-800);
    --color-yellow-accent-900: var(--color-yellow-900);
    --color-yellow-accent-1000: var(--color-yellow-1000);

    /* Beryl color */
    --color-beryl-accent-0: var(--color-beryl-0);
    --color-beryl-accent-100: var(--color-beryl-100);
    --color-beryl-accent-200: var(--color-beryl-200);
    --color-beryl-accent-300: var(--color-beryl-300);
    --color-beryl-accent-400: var(--color-beryl-400);
    --color-beryl-accent-500: var(--color-beryl-500);
    --color-beryl-accent-600: var(--color-beryl-600);
    --color-beryl-accent-700: var(--color-beryl-700);
    --color-beryl-accent-800: var(--color-beryl-800);
    --color-beryl-accent-900: var(--color-beryl-900);
    --color-beryl-accent-1000: var(--color-beryl-1000);

    /* Sapphirine color */
    --color-sapphirine-accent-0: var(--color-sapphirine-0);
    --color-sapphirine-accent-100: var(--color-sapphirine-100);
    --color-sapphirine-accent-200: var(--color-sapphirine-200);
    --color-sapphirine-accent-300: var(--color-sapphirine-300);
    --color-sapphirine-accent-400: var(--color-sapphirine-400);
    --color-sapphirine-accent-500: var(--color-sapphirine-500);
    --color-sapphirine-accent-600: var(--color-sapphirine-600);
    --color-sapphirine-accent-700: var(--color-sapphirine-700);
    --color-sapphirine-accent-800: var(--color-sapphirine-800);
    --color-sapphirine-accent-900: var(--color-sapphirine-900);
    --color-sapphirine-accent-1000: var(--color-sapphirine-1000);

    /* Nephritis color */
    --color-nephritis-accent-0: var(--color-nephritis-0);
    --color-nephritis-accent-100: var(--color-nephritis-100);
    --color-nephritis-accent-200: var(--color-nephritis-200);
    --color-nephritis-accent-300: var(--color-nephritis-300);
    --color-nephritis-accent-400: var(--color-nephritis-400);
    --color-nephritis-accent-500: var(--color-nephritis-500);
    --color-nephritis-accent-600: var(--color-nephritis-600);
    --color-nephritis-accent-700: var(--color-nephritis-700);
    --color-nephritis-accent-800: var(--color-nephritis-800);
    --color-nephritis-accent-900: var(--color-nephritis-900);
    --color-nephritis-accent-1000: var(--color-nephritis-1000);

    /* Topaz color */
    --color-topaz-accent-0: var(--color-topaz-0);
    --color-topaz-accent-100: var(--color-topaz-100);
    --color-topaz-accent-200: var(--color-topaz-200);
    --color-topaz-accent-300: var(--color-topaz-300);
    --color-topaz-accent-400: var(--color-topaz-400);
    --color-topaz-accent-500: var(--color-topaz-500);
    --color-topaz-accent-600: var(--color-topaz-600);
    --color-topaz-accent-700: var(--color-topaz-700);
    --color-topaz-accent-800: var(--color-topaz-800);
    --color-topaz-accent-900: var(--color-topaz-900);
    --color-topaz-accent-1000: var(--color-topaz-1000);

    /* Amethyst color */
    --color-amethyst-accent-0: var(--color-amethyst-0);
    --color-amethyst-accent-100: var(--color-amethyst-100);
    --color-amethyst-accent-200: var(--color-amethyst-200);
    --color-amethyst-accent-300: var(--color-amethyst-300);
    --color-amethyst-accent-400: var(--color-amethyst-400);
    --color-amethyst-accent-500: var(--color-amethyst-500);
    --color-amethyst-accent-600: var(--color-amethyst-600);
    --color-amethyst-accent-700: var(--color-amethyst-700);
    --color-amethyst-accent-800: var(--color-amethyst-800);
    --color-amethyst-accent-900: var(--color-amethyst-900);
    --color-amethyst-accent-1000: var(--color-amethyst-1000);

    /* Ruby color */
    --color-ruby-accent-0: var(--color-ruby-0);
    --color-ruby-accent-100: var(--color-ruby-100);
    --color-ruby-accent-200: var(--color-ruby-200);
    --color-ruby-accent-300: var(--color-ruby-300);
    --color-ruby-accent-400: var(--color-ruby-400);
    --color-ruby-accent-500: var(--color-ruby-500);
    --color-ruby-accent-600: var(--color-ruby-600);
    --color-ruby-accent-700: var(--color-ruby-700);
    --color-ruby-accent-800: var(--color-ruby-800);
    --color-ruby-accent-900: var(--color-ruby-900);
    --color-ruby-accent-1000: var(--color-ruby-1000);

    /* Graphite color */
    --color-graphite-accent-0: var(--color-graphite-0);
    --color-graphite-accent-100: var(--color-graphite-100);
    --color-graphite-accent-200: var(--color-graphite-200);
    --color-graphite-accent-300: var(--color-graphite-300);
    --color-graphite-accent-400: var(--color-graphite-400);
    --color-graphite-accent-500: var(--color-graphite-500);
    --color-graphite-accent-600: var(--color-graphite-600);
    --color-graphite-accent-700: var(--color-graphite-700);
    --color-graphite-accent-800: var(--color-graphite-800);
    --color-graphite-accent-900: var(--color-graphite-900);
    --color-graphite-accent-1000: var(--color-graphite-1000);

    /* Gray color */
    --color-gray-accent-0: var(--color-gray-0);
    --color-gray-accent-100: var(--color-gray-100);
    --color-gray-accent-200: var(--color-gray-200);
    --color-gray-accent-300: var(--color-gray-300);
    --color-gray-accent-400: var(--color-gray-400);
    --color-gray-accent-500: var(--color-gray-500);
    --color-gray-accent-600: var(--color-gray-600);
    --color-gray-accent-700: var(--color-gray-700);
    --color-gray-accent-800: var(--color-gray-800);
    --color-gray-accent-900: var(--color-gray-900);
    --color-gray-accent-1000: var(--color-gray-1000);

    /* Smoke color */
    --color-smoke-accent-0: var(--color-smoke-0);
    --color-smoke-accent-100: var(--color-smoke-100);
    --color-smoke-accent-200: var(--color-smoke-200);
    --color-smoke-accent-300: var(--color-smoke-300);
    --color-smoke-accent-400: var(--color-smoke-400);
    --color-smoke-accent-500: var(--color-smoke-500);
    --color-smoke-accent-600: var(--color-smoke-600);
    --color-smoke-accent-700: var(--color-smoke-700);
    --color-smoke-accent-800: var(--color-smoke-800);
    --color-smoke-accent-900: var(--color-smoke-900);
    --color-smoke-accent-1000: var(--color-smoke-1000);

    /* Primary color */

    --color-primary-0: var(--color-blue-accent-0);
    --color-primary-100: var(--color-blue-accent-100);
    --color-primary-200: var(--color-blue-accent-200);
    --color-primary-300: var(--color-blue-accent-300);
    --color-primary-400: var(--color-blue-accent-400);
    --color-primary-500: var(--color-blue-accent-500);
    --color-primary-600: var(--color-blue-accent-600);
    --color-primary-700: var(--color-blue-accent-700);
    --color-primary-800: var(--color-blue-accent-800);
    --color-primary-900: var(--color-blue-accent-900);
    --color-primary-1000: var(--color-blue-accent-1000);

    /* Secondary color */

    --color-secondary-0: var(--color-graphite-accent-0);
    --color-secondary-100: var(--color-graphite-accent-100);
    --color-secondary-200: var(--color-graphite-accent-200);
    --color-secondary-300: var(--color-graphite-accent-300);
    --color-secondary-400: var(--color-graphite-accent-400);
    --color-secondary-500: var(--color-graphite-accent-500);
    --color-secondary-600: var(--color-graphite-accent-600);
    --color-secondary-700: var(--color-graphite-accent-700);
    --color-secondary-800: var(--color-graphite-accent-800);
    --color-secondary-900: var(--color-graphite-accent-900);
    --color-secondary-1000: var(--color-graphite-accent-1000);
}