.backdrop {
    box-sizing: border-box;
    overflow-x: hidden;
    z-index: 1;
}

.backdrop[data-visible='true']::after {
    background: var(--overlay);
    opacity: 1;
    visibility: visible;
}

.backdrop::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;
    transition: opacity var(--transition-slow-state-delay) ease,
                visibility var(--transition-state-delay) ease;
    background: transparent;
    opacity: 0;
}

.backdrop:where([data-blurred='true'])::after {
    backdrop-filter: blur(20px);
}
