.modal {
    background: var(--surface-foreground);
    box-shadow: var(--surface-shadow);
    border-radius: var(--radius-3);
    padding: var(--spacing-10) var(--spacing-12);
    min-width: clamp(240px, 30vw, 400px);
}

.modal[data-fluid='true'] {
    width: 100vw;
    height: 100%;
    overflow: auto;
    border-radius: 0;
    box-sizing: border-box;
}

.modalOverlay {
    display: grid;
    place-items: center;
    background-color: var(--overlay);
    z-index: var(--z-index-overlay);
    padding: var(--spacing-6);
    box-sizing: border-box;
}

.modalOverlayBlurred {
    backdrop-filter: blur(2px);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: var(--spacing-10);
}

.title {
    flex: 1;
}