.paginationText {
    padding-inline: var(--spacing-8);
    white-space: nowrap;
}

.paginationText:where([data-variant='primary']) {
    color: var(--color-primary-500);
}

.paginationText:where([data-variant='secondary']) {
    color: var(--color-secondary-500);
}
