.wrapper {
    list-style-type: none;
}

.pageControlItem {
    --page-control-item-size: 8px;

    --page-item-background-color: oklch(from var(--label-primary) l c h / 0.3);
    --page-item-background-color-hover: oklch(from var(--label-primary) l c h / 0.5);
    --page-item-background-color-active: oklch(from var(--label-primary) l c h / 0.7);

    cursor: pointer;
    aspect-ratio: 1 / 1;
    user-select: none;
    width: var(--page-control-item-size);
    height: var(--page-control-item-size);
    background-color: var(--page-item-background-color);
    border-radius: var(--page-control-item-size);
    border: none;
    padding: 0;
    transition: background-color var(--transition-fast-state-delay) ease-in-out;
}

.pageControlItem:not(:disabled):not([data-active='true']):hover {
    background-color: var(--page-item-background-color-hover);
}

.pageControlItem:not(:disabled):not([data-active='true']):active {
    background-color: var(--page-item-background-color-active);
}

.pageControlItem:where([data-active='true']) {
    background-color: var(--label-primary);
}

.pageControlItem:focus-visible {
    outline: 2px solid var(--focus-color);
}

.pageControlItem:where([data-size='sm']) {
    --page-control-item-size: 8px;
}

.pageControlItem:where([data-size='md']) {
    --page-control-item-size: 12px;
}

.pageControlItem:where([data-size='lg']) {
    --page-control-item-size: 16px;
}