.buttonBase {
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    font-family: var(--default-font-family);
    text-decoration: none;
    font-weight: 500;
}

.buttonBase:disabled,
.buttonBase[aria-disabled='true'] {
    cursor: not-allowed;
}

.buttonBase:focus-visible {
    outline-offset: 0;
    outline: 3px solid var(--focus-color);
}

/* Primary Fill */

.buttonBase[data-variant='primary'][data-appearance='fill'] {
    background-color: var(--color-primary-500);
    transition: background-color var(--transition-state-delay) ease-in-out, color var(--transition-state-delay) ease-in-out;
    color: var(--color-white);
}

.buttonBase[data-variant='primary'][data-appearance='fill']:hover {
    background-color: var(--color-primary-600);
}

.buttonBase[data-variant='primary'][data-appearance='fill']:active {
    background-color: var(--color-primary-700);
}

.buttonBase[data-variant='primary'][data-appearance='fill']:disabled,
.buttonBase[data-variant='primary'][data-appearance='fill'][aria-disabled='true'] {
    background-color: var(--disable-background-color);
    color: var(--disable-text-color);
}

/* Primary Outline */

.buttonBase[data-variant='primary'][data-appearance='outline'] {
    border: 2px solid var(--color-primary-500);
    transition: border-color var(--transition-state-delay) ease-in-out, background-color var(--transition-state-delay) ease-in-out, color var(--transition-state-delay) ease-in-out;
    color: var(--color-primary-500);
}

.buttonBase[data-variant='primary'][data-appearance='outline']:hover {
    border-color: var(--color-primary-600);
    background-color: var(--color-primary-0);
    color: var(--color-primary-600);
}

.buttonBase[data-variant='primary'][data-appearance='outline']:active {
    border-color: var(--color-primary-700);
    background-color: var(--color-primary-50);
    color: var(--color-primary-700);
}

.buttonBase[data-variant='primary'][data-appearance='outline']:disabled,
.buttonBase[data-variant='primary'][data-appearance='outline'][aria-disabled='true'] {
    border-color: var(--disable-border-color);
    color: var(--disable-text-color);
    background: none;
}

/* Primary Ghost */

.buttonBase[data-variant='primary'][data-appearance='ghost'] {
    background-color: var(--color-primary-50);
    color: var(--color-primary-500);
    transition: background-color var(--transition-state-delay) ease-in-out, color var(--transition-state-delay) ease-in-out;
}

.buttonBase[data-variant='primary'][data-appearance='ghost']:hover {
    background-color: var(--color-primary-100);
    color: var(--color-primary-600);
}

.buttonBase[data-variant='primary'][data-appearance='ghost']:active {
    background-color: var(--color-primary-150);
    color: var(--color-primary-700);
}

.buttonBase[data-variant='primary'][data-appearance='ghost']:disabled,
.buttonBase[data-variant='primary'][data-appearance='ghost'][aria-disabled='true'] {
    background-color: var(--disable-background-color);
    color: var(--disable-text-color);
}

/* Primary Transparent */

.buttonBase[data-variant='primary'][data-appearance='transparent'] {
    background: none;
    color: var(--color-primary-500);
    transition: background-color var(--transition-state-delay) ease-in-out, color var(--transition-state-delay) ease-in-out;
}

.buttonBase[data-variant='primary'][data-appearance='transparent']:hover {
    background-color: var(--color-primary-0);
    color: var(--color-primary-500);
}

.buttonBase[data-variant='primary'][data-appearance='transparent']:active {
    background-color: var(--color-primary-50);
    color: var(--color-primary-500);
}

.buttonBase[data-variant='primary'][data-appearance='transparent']:disabled,
.buttonBase[data-variant='primary'][data-appearance='transparent'][aria-disabled='true'] {
    color: var(--disable-text-color);
    background: none;
}

/* Secondary Fill */

.buttonBase[data-variant='secondary'][data-appearance='fill'] {
    background-color: var(--color-secondary-500);
    transition: background-color var(--transition-state-delay) ease-in-out, color var(--transition-state-delay) ease-in-out;
    color: var(--text-inverce-color);
}

.buttonBase[data-variant='secondary'][data-appearance='fill']:hover {
    background-color: var(--color-secondary-600);
}

.buttonBase[data-variant='secondary'][data-appearance='fill']:active {
    background-color: var(--color-secondary-700);
}

.buttonBase[data-variant='secondary'][data-appearance='fill']:disabled,
.buttonBase[data-variant='secondary'][data-appearance='fill'][aria-disabled='true'] {
    background-color: var(--disable-background-color);
    color: var(--disable-text-color);
}

/* Secondary Outline */

.buttonBase[data-variant='secondary'][data-appearance='outline'] {
    border: 2px solid var(--color-secondary-500);
    transition: border-color var(--transition-state-delay) ease-in-out, background-color var(--transition-state-delay) ease-in-out, color var(--transition-state-delay) ease-in-out;
    color: var(--color-secondary-500);
}

.buttonBase[data-variant='secondary'][data-appearance='outline']:hover {
    border-color: var(--color-secondary-600);
    background-color: var(--color-secondary-0);
    color: var(--color-secondary-600);
}

.buttonBase[data-variant='secondary'][data-appearance='outline']:active {
    border-color: var(--color-secondary-700);
    background-color: var(--color-secondary-50);
    color: var(--color-secondary-700);
}

.buttonBase[data-variant='secondary'][data-appearance='outline']:disabled,
.buttonBase[data-variant='secondary'][data-appearance='outline'][aria-disabled='true'] {
    border-color: var(--disable-border-color);
    color: var(--disable-text-color);
    background: none;
}

/* Secondary Ghost */

.buttonBase[data-variant='secondary'][data-appearance='ghost'] {
    background-color: var(--color-secondary-50);
    color: var(--color-secondary-500);
    transition: background-color var(--transition-state-delay) ease-in-out, color var(--transition-state-delay) ease-in-out;
}

.buttonBase[data-variant='secondary'][data-appearance='ghost']:hover {
    background-color: var(--color-secondary-100);
    color: var(--color-secondary-600);
}

.buttonBase[data-variant='secondary'][data-appearance='ghost']:active {
    background-color: var(--color-secondary-150);
    color: var(--color-secondary-700);
}

.buttonBase[data-variant='secondary'][data-appearance='ghost']:disabled,
.buttonBase[data-variant='secondary'][data-appearance='ghost'][aria-disabled='true'] {
    background-color: var(--disable-background-color);
    color: var(--disable-text-color);
}

/* Secondary Transparent */

.buttonBase[data-variant='secondary'][data-appearance='transparent'] {
    background: none;
    color: var(--color-secondary-500);
    transition: background-color var(--transition-state-delay) ease-in-out, color var(--transition-state-delay) ease-in-out;
}

.buttonBase[data-variant='secondary'][data-appearance='transparent']:hover {
    background-color: var(--color-secondary-0);
}

.buttonBase[data-variant='secondary'][data-appearance='transparent']:active {
    background-color: var(--color-secondary-50);
}

.buttonBase[data-variant='secondary'][data-appearance='transparent']:disabled,
.buttonBase[data-variant='secondary'][data-appearance='transparent'][aria-disabled='true'] {
    color: var(--disable-text-color);
    background: none;
}