.buttonBase {
    --button-color: inherit;
    --button-color-hover: inherit;
    --button-color-active: inherit;

    --button-background-color: transparent;
    --button-background-color-hover: transparent;
    --button-background-color-active: transparent;

    --button-border-color: transparent;
    --button-border-color-hover: transparent;
    --button-border-color-active: transparent;

    outline: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    font-family: var(--default-font-family);
    text-decoration: none;
    font-weight: 500;
    transition: background-color var(--transition-fast-state-delay) ease-in-out,
                color var(--transition-fast-state-delay) ease-in-out,
                border-color var(--transition-fast-state-delay) ease-in-out;

    border: 2px solid var(--button-border-color);
    background: var(--button-background-color);
    color: var(--button-color);
}

.buttonBase:disabled,
.buttonBase[aria-disabled='true'] {
    cursor: not-allowed;
}

.buttonBase:focus-visible {
    outline-offset: 0;
    outline: 3px solid var(--focus-color);
}

.buttonBase:not(:disabled):not([aria-disabled='true']):hover {
    color: var(--button-color-hover);
    background: var(--button-background-color-hover);
    border-color: var(--button-border-color-hover);
}

.buttonBase:not(:disabled):not([aria-disabled='true']):active {
    color: var(--button-color-active);
    background: var(--button-background-color-active);
    border-color: var(--button-border-color-active);
}

/* Primary Fill */

.buttonBase:where([data-variant='primary']) {
    --button-chroma-ratio: 0.03;
}

.buttonBase:where([data-variant='primary'][data-appearance='fill']) {
    --button-color: var(--color-white);
    --button-color-hover: var(--color-white);
    --button-color-active: var(--color-white);

    --button-background-color: var(--color-primary-500);
    --button-background-color-hover: var(--color-primary-600);
    --button-background-color-active: var(--color-primary-700);

    --button-border-color: transparent;
    --button-border-color-hover: transparent;
    --button-border-color-active: transparent;
}

.buttonBase:where([data-variant='primary'][data-appearance='fill']):disabled,
.buttonBase:where([data-variant='primary'][data-appearance='fill'])[aria-disabled='true'] {
    --button-background-color: var(--disable-background-color);
    --button-color: var(--disable-text-color);
}

/* Primary Outline */

.buttonBase:where([data-variant='primary'][data-appearance='outline']) {
    --button-border-color: var(--color-primary-500);
    --button-border-color-hover: var(--color-primary-600);
    --button-border-color-active: var(--color-primary-700);

    --button-color: var(--color-primary-500);
    --button-color-hover: var(--color-primary-600);
    --button-color-active: var(--color-primary-700);

    --button-background-color: transparent;
    --button-background-color-hover: oklch(from var(--color-primary-500) l calc(c + var(--button-chroma-ratio)) h / 0.10);
    --button-background-color-active: oklch(from var(--color-primary-500) l calc(c + var(--button-chroma-ratio)) h / 0.15);
}

.buttonBase:where([data-variant='primary'][data-appearance='outline']):disabled,
.buttonBase:where([data-variant='primary'][data-appearance='outline'])[aria-disabled='true'] {
    --button-border-color: var(--disable-border-color);
    --button-color: var(--disable-text-color);
    --button-background-color: transparent;
}

/* Primary Ghost */

.buttonBase:where([data-variant='primary'][data-appearance='ghost']) {
    --button-border-color: transparent;
    --button-border-color-hover: transparent;
    --button-border-color-active: transparent;

    --button-color: var(--color-primary-500);
    --button-color-hover: var(--color-primary-600);
    --button-color-active: var(--color-primary-700);

    --button-background-color: oklch(from var(--color-primary-500) l calc(c + var(--button-chroma-ratio)) h / 0.10);
    --button-background-color-hover: oklch(from var(--color-primary-500) l calc(c + var(--button-chroma-ratio)) h / 0.15);
    --button-background-color-active: oklch(from var(--color-primary-500) l calc(c + var(--button-chroma-ratio)) h / 0.20);
}

.buttonBase:where([data-variant='primary'][data-appearance='ghost']):disabled,
.buttonBase:where([data-variant='primary'][data-appearance='ghost'])[aria-disabled='true'] {
    --button-background-color: var(--disable-background-color);
    --button-color: var(--disable-text-color);
}

/* Primary Transparent */

.buttonBase:where([data-variant='primary'][data-appearance='transparent']) {
    --button-border-color: transparent;
    --button-border-color-hover: transparent;
    --button-border-color-active: transparent;

    --button-color: var(--color-primary-500);
    --button-color-hover: var(--color-primary-600);
    --button-color-active: var(--color-primary-700);

    --button-background-color: transparent;
    --button-background-color-hover: oklch(from var(--color-primary-500) l calc(c + var(--button-chroma-ratio)) h / 0.10);
    --button-background-color-active: oklch(from var(--color-primary-500) l calc(c + var(--button-chroma-ratio)) h / 0.15);
}

.buttonBase:where([data-variant='primary'][data-appearance='transparent']):disabled,
.buttonBase:where([data-variant='primary'][data-appearance='transparent'])[aria-disabled='true'] {
    --button-color: var(--disable-text-color);
    --button-background-color: transparent;
}

/* Secondary Fill */

.buttonBase:where([data-variant='secondary'][data-appearance='fill']) {
    --button-color: var(--text-color-inverce);
    --button-color-hover: var(--text-color-inverce);
    --button-color-active: var(--text-color-inverce);

    --button-background-color: var(--color-secondary-500);
    --button-background-color-hover: var(--color-secondary-600);
    --button-background-color-active: var(--color-secondary-700);

    --button-border-color: transparent;
    --button-border-color-hover: transparent;
    --button-border-color-active: transparent;
}

.buttonBase:where([data-variant='secondary'][data-appearance='fill']):disabled,
.buttonBase:where([data-variant='secondary'][data-appearance='fill'])[aria-disabled='true'] {
    --button-background-color: var(--disable-background-color);
    --button-color: var(--disable-text-color);
}

/* Secondary Outline */

.buttonBase:where([data-variant='secondary'][data-appearance='outline']) {
    --button-border-color: var(--color-secondary-500);
    --button-border-color-hover: var(--color-secondary-600);
    --button-border-color-active: var(--color-secondary-700);

    --button-color: var(--color-secondary-500);
    --button-color-hover: var(--color-secondary-600);
    --button-color-active: var(--color-secondary-700);

    --button-background-color: transparent;
    --button-background-color-hover: oklch(from var(--color-secondary-500) l calc(c + var(--button-chroma-ratio)) h / 0.10);
    --button-background-color-active: oklch(from var(--color-secondary-500) l calc(c + var(--button-chroma-ratio)) h / 0.15);
}

.buttonBase:where([data-variant='secondary'][data-appearance='outline']):disabled,
.buttonBase:where([data-variant='secondary'][data-appearance='outline'])[aria-disabled='true'] {
    --button-border-color: var(--disable-border-color);
    --button-color: var(--disable-text-color);
    --button-background-color: transparent;
}

/* Secondary Ghost */

.buttonBase:where([data-variant='secondary'][data-appearance='ghost']) {
    --button-border-color: transparent;
    --button-border-color-hover: transparent;
    --button-border-color-active: transparent;

    --button-color: var(--color-secondary-500);
    --button-color-hover: var(--color-secondary-600);
    --button-color-active: var(--color-secondary-700);

    --button-background-color: oklch(from var(--color-secondary-500) l calc(c + var(--button-chroma-ratio)) h / 0.10);
    --button-background-color-hover: oklch(from var(--color-secondary-500) l calc(c + var(--button-chroma-ratio)) h / 0.15);
    --button-background-color-active: oklch(from var(--color-secondary-500) l calc(c + var(--button-chroma-ratio)) h / 0.20);
}

.buttonBase:where([data-variant='secondary'][data-appearance='ghost']):disabled,
.buttonBase:where([data-variant='secondary'][data-appearance='ghost'])[aria-disabled='true'] {
    --button-background-color: var(--disable-background-color);
    --button-color: var(--disable-text-color);
}

/* Secondary Transparent */

.buttonBase:where([data-variant='secondary'][data-appearance='transparent']) {
    --button-border-color: transparent;
    --button-border-color-hover: transparent;
    --button-border-color-active: transparent;

    --button-color: var(--color-secondary-500);
    --button-color-hover: var(--color-secondary-600);
    --button-color-active: var(--color-secondary-700);

    --button-background-color: transparent;
    --button-background-color-hover: oklch(from var(--color-secondary-500) l calc(c + var(--button-chroma-ratio)) h / 0.10);
    --button-background-color-active: oklch(from var(--color-secondary-500) l calc(c + var(--button-chroma-ratio)) h / 0.15);
}

.buttonBase:where([data-variant='secondary'][data-appearance='transparent']):disabled,
.buttonBase:where([data-variant='secondary'][data-appearance='transparent'])[aria-disabled='true'] {
    --button-color: var(--disable-text-color);
    --button-background-color: transparent;
}