.badge {
    --size: var(--spacing-14);
    --padding-inline: 0;
    --badge-br-ratio: 0.333;
    --font-size: var(--font-size-1);
    --background-color: var(--color-badge-info-fill-background);
    --border-color: transparent;
    --color: var(--color-badge-info-fill-text);

    display: inline-flex;
    flex-shrink: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-8);
    box-sizing: border-box;
    border: 1px solid var(--border-color);
    font-family: var(--default-font-family);

    background-color: var(--background-color);
    color: var(--color);
    font-size: var(--font-size);

    height: var(--size);
    min-width: var(--size);
    padding-inline: calc(var(--size) / 2.5);
    border-radius: calc(var(--size) * var(--badge-br-ratio));
}


.badge[data-size='xs'] {
    --size: var(--spacing-14);
    --font-size: var(--font-size-1);
}

.badge[data-size='sm'] {
    --size: var(--spacing-16);
    --font-size: var(--font-size-2);
}

.badge[data-size='md'] {
    --size: var(--spacing-18);
    --font-size: var(--font-size-3);
}

.badge[data-size='lg'] {
    --size: var(--spacing-20);
    --font-size: var(--font-size-4);
}

.badge[data-size='xl'] {
    --size: var(--spacing-22);
    --font-size: var(--font-size-5);
}

/* Info variant */

.badge[data-variant='info'][data-appearance='ghost'] {
    --color: var(--color-badge-info-ghost-text);
    --background-color: var(--color-badge-info-ghost-background);
}

.badge[data-variant='info'][data-appearance='outline'] {
    --color: var(--color-badge-info-outline-text);
    --background-color: transparent;
    --border-color: var(--color-badge-info-outline-border);
}

.badge[data-variant='info'][data-appearance='fill'] {
    --color: var(--color-badge-info-fill-text);
    --background-color: var(--color-badge-info-fill-background);
}

.badge[data-variant='info'][data-appearance='surface'] {
    --color: var(--color-badge-info-surface-text);
    --background-color: var(--color-badge-info-surface-background);
    --border-color: var(--color-badge-info-surface-border);
}

/* Success variant */

.badge[data-variant='success'] {
    --color: var(--color-badge-success-ghost-text);
    --background-color: var(--color-badge-success-ghost-background);
}

.badge[data-variant='success'][data-appearance='outline'] {
    --color: var(--color-badge-success-outline-text);
    --background-color: transparent;
    --border-color: var(--color-badge-success-outline-border);
}

.badge[data-variant='success'][data-appearance='fill'] {
    --color: var(--color-badge-success-fill-text);
    --background-color: var(--color-badge-success-fill-background);
}

.badge[data-variant='success'][data-appearance='surface'] {
    --color: var(--color-badge-success-surface-text);
    --background-color: var(--color-badge-success-surface-background);
    --border-color: var(--color-badge-success-surface-border);
}

/* Error variant */

.badge[data-variant='error'] {
    --color: var(--color-badge-error-ghost-text);
    --background-color: var(--color-badge-error-ghost-background);
}

.badge[data-variant='error'][data-appearance='outline'] {
    --color: var(--color-badge-error-outline-text);
    --background-color: transparent;
    --border-color: var(--color-badge-error-outline-border);
}

.badge[data-variant='error'][data-appearance='fill'] {
    --color: var(--color-badge-error-fill-text);
    --background-color: var(--color-badge-error-fill-background);
}

.badge[data-variant='error'][data-appearance='surface'] {
    --color: var(--color-badge-error-surface-text);
    --background-color: var(--color-badge-error-surface-background);
    --border-color: var(--color-badge-error-surface-border);
}

/* Warning variant */

.badge[data-variant='warning'] {
    --color: var(--color-badge-warning-ghost-text);
    --background-color: var(--color-badge-warning-ghost-background);
}

.badge[data-variant='warning'][data-appearance='outline'] {
    --color: var(--color-badge-warning-outline-text);
    --background-color: transparent;
    --border-color: var(--color-badge-warning-outline-border);
}

.badge[data-variant='warning'][data-appearance='fill'] {
    --color: var(--color-badge-warning-fill-text);
    --background-color: var(--color-badge-warning-fill-background);
}

.badge[data-variant='warning'][data-appearance='surface'] {
    --color: var(--color-badge-warning-surface-text);
    --background-color: var(--color-badge-warning-surface-background);
    --border-color: var(--color-badge-warning-surface-border);
}