.wrapper {
    position: relative;
    width: 100%;
}

.inputWrapper {
    padding: 0 var(--input-height);
}

.numberTextField {
    text-align: center;
}

.numberTextField::-webkit-outer-spin-button,
.numberTextField::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.numberTextField {
    -moz-appearance: textfield;
}

.controlButton {
    aspect-ratio: 1 / 1;
    height: 100% !important;
}

.controlButtonUp,
.controlButtonDown {
    position: absolute;
    top: 0;
}

.controlButtonDown {
    left: 0;
}

.controlButtonUp {
    right: 0;
}
