.alert {
    --alert-background-color: var(--color-blue-accent-100);
    --alert-color: var(--color-blue-accent-800);
    --alert-border-color: transparent;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    gap: var(--spacing-8);
    box-sizing: border-box;
    padding: clamp(var(--spacing-6), 3vw, var(--spacing-8)) clamp(var(--spacing-12), 3vw, var(--spacing-14));
    border-radius: var(--radius-4);

    background-color: var(--alert-background-color);
    color: var(--alert-color);
    border: 1px solid var(--alert-border-color);
}

/* Alert/Fill/Info */

.alert:where([data-variant='info'][data-appearance='fill']) {
    --alert-background-color: var(--color-blue-accent-100);
    --alert-color: var(--color-blue-accent-800);
    --alert-border-color: transparent;
}

/* Alert/Surface/Info */

.alert:where([data-variant='info'][data-appearance='surface']) {
    --alert-background-color: var(--color-blue-accent-0);
    --alert-color: var(--color-blue-accent-700);
    --alert-border-color: var(--color-blue-accent-700);
}

/* Alert/Fill/Success */

.alert:where([data-variant='success'][data-appearance='fill']) {
    --alert-background-color: var(--color-green-accent-100);
    --alert-color: var(--color-green-accent-800);
    --alert-border-color: transparent;
}

/* Alert/Surface/Success */

.alert:where([data-variant='success'][data-appearance='surface']) {
    --alert-background-color: var(--color-green-accent-0);
    --alert-color: var(--color-green-accent-700);
    --alert-border-color: var(--color-green-accent-700);
}

/* Alert/Fill/Warning */

.alert:where([data-variant='warning'][data-appearance='fill']) {
    --alert-background-color: var(--color-amber-accent-100);
    --alert-color: var(--color-amber-accent-800);
    --alert-border-color: transparent;
}

/* Alert/Surface/Warning */

.alert:where([data-variant='warning'][data-appearance='surface']) {
    --alert-background-color: var(--color-amber-accent-0);
    --alert-color: var(--color-amber-accent-700);
    --alert-border-color: var(--color-amber-accent-700);
}

/* Alert/Fill/Error */

.alert:where([data-variant='error'][data-appearance='fill']) {
    --alert-background-color: var(--color-red-accent-100);
    --alert-color: var(--color-red-accent-800);
    --alert-border-color: transparent;
}

/* Alert/Surface/Error */

.alert:where([data-variant='error'][data-appearance='surface']) {
    --alert-background-color: var(--color-red-accent-0);
    --alert-color: var(--color-red-accent-700);
    --alert-border-color: var(--color-red-accent-700);
}
