.picker {
    position: absolute;
    width: 100%;
    padding: 4px;
    box-sizing: border-box;
    top: 0;
    right: 0;
    left: 0;
    transition: transform var(--transition-fast-state-delay) ease-in-out;
}

.picker:where([data-visible='false']) {
    transform: translateY(calc(-100% - 2px));
}

.picker:where([data-visible='true']) {
    transform: translateY(0);
}
