.heading {
    padding: 12px;
}

.heading:where([data-align='start']) {
    text-align: start;
}

.heading:where([data-align='center']) {
    text-align: center;
}

.heading:where([data-align='end']) {
    text-align: end;
}

.heading:where([data-align='between']) {
    text-align: center;
}

.heading:where([data-align='between']):first-child {
    text-align: start;
}

.heading:where([data-align='between']):last-child {
    text-align: end;
}

.headingNotEdgePadded:first-child {
    padding-left: 0;
}

.headingNotEdgePadded:last-child {
    padding-right: 0;
}
