.picker {
  position: relative;
  transform: translateY(0);
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  transition: transform var(--transition-fast-state-delay) ease-in-out;
}

.picker[data-visible='false'] {
  transform: translateY(100%);
}