.option {
    --option-height: var(--spacing-21);
    --option-br-ratio: 0.333;

    --option-color: var(--text-color);
    --option-background-color: transparent;
    --option-background-color-hover: var(--color-primary-100);
    --option-background-color-active: var(--color-primary-200);

    display: flex;
    align-items: center;
    font-family: var(--default-font-family);
    outline: none;
    border: none;
    padding: var(--spacing-4) var(--spacing-10);
    transition: background-color var(--transition-state-delay) ease,
                color var(--transition-state-delay) ease;
    cursor: pointer;
    box-sizing: border-box;
    color: var(--option-color);
    background-color: var(--option-background-color);
    height: var(--option-height);
    border-radius: calc(var(--option-height) * var(--option-br-ratio));
}

.option:where([data-size='sm']) {
    --option-height: var(--spacing-21);

    padding: var(--spacing-3) var(--spacing-10);
    font-size: var(--text-font-size-2);
    line-height: var(--line-height-2);
}

.option:where([data-size='md']) {
    --option-height: var(--spacing-24);

    padding: var(--spacing-4) var(--spacing-10);
    font-size: var(--text-font-size-3);
    line-height: var(--line-height-3);
}

.option:where([data-size='lg']) {
    --option-height: var(--spacing-27);

    padding: var(--spacing-5) var(--spacing-10);
    font-size: var(--text-font-size-4);
    line-height: var(--line-height-4);
}

.option:where([aria-selected='true']) {
    --option-color: var(--color-white);
    --option-background-color: var(--color-primary-500);
    --option-background-color-hover: var(--color-primary-600);
    --option-background-color-active: var(--color-primary-700);
}

.option:not(:disabled):hover,
.option:not(:disabled):focus-visible {
    background-color: var(--option-background-color-hover);
}

.option:not(:disabled):active {
    background-color: var(--option-background-color-active);
}

.option:disabled {
    cursor: not-allowed;
}