.option {
    --option-height: var(--spacing-21);
    --option-br-ratio: 0.333;

    display: flex;
    align-items: center;
    font-family: var(--default-font-family);
    padding: var(--spacing-4) var(--spacing-10);
    transition: background-color var(--transition-state-delay) ease, color var(--transition-state-delay) ease;
    cursor: pointer;
    box-sizing: border-box;
    color: var(--text-color);
    height: var(--option-height);
    border-radius: calc(var(--option-height) * var(--option-br-ratio));
}

.option[data-size='small'] {
    --option-height: var(--spacing-21);

    padding: var(--spacing-3) var(--spacing-10);
    font-size: var(--text-font-size-2);
    line-height: var(--line-height-2);
}

.option[data-size='medium'] {
    --option-height: var(--spacing-24);

    padding: var(--spacing-4) var(--spacing-10);
    font-size: var(--text-font-size-3);
    line-height: var(--line-height-3);
}

.option[data-size='large'] {
    --option-height: var(--spacing-27);

    padding: var(--spacing-5) var(--spacing-10);
    font-size: var(--text-font-size-4);
    line-height: var(--line-height-4);
}

.option:hover,
.option:focus-visible {
    outline: none;
    background-color: var(--color-primary-100);
}

.option:active {
    outline: none;
    background-color: var(--color-primary-200);
}

.option[aria-selected="true"] {
    background-color: var(--color-primary-500);
}

.option[aria-selected="true"] {
    color: var(--color-white);
}