.content {
    background: var(--surface-ultrathin);
    border-radius: var(--radius-5);
    width: max-content;
    padding: var(--spacing-8);
    z-index: 1;
    transition:
            scale var(--transition-state-delay) ease,
            opacity var(--transition-state-delay) ease;
}

.content:where([data-shadowed='true']) {
    box-shadow: var(--surface-shadow);
}

.content:where([data-status='open']) {
    scale: 1;
    opacity: 1;
}

.content:where([data-status='initial']),
.content:where([data-status='unmounted']),
.content:where([data-status='close']) {
    scale: 0;
    opacity: 0;
}
