.content {
    background: var(--surface-ultrathin);
    border-radius: var(--radius-5);
    width: max-content;
    padding: var(--spacing-8);
    z-index: 1;
    transition:
            scale var(--transition-state-delay) ease,
            opacity var(--transition-state-delay) ease;
}

.content[data-shadowed='true'] {
    box-shadow: var(--surface-shadow);
}

.content[data-status='open'] {
    scale: 1;
    opacity: 1;
}

.content[data-status='initial'],
.content[data-status='unmounted'],
.content[data-status='close'] {
    scale: 0;
    opacity: 0;
}