.slot {
    --input-br-ratio: 0.333;

    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--input-height);
    width: var(--input-height);
    aspect-ratio: 1 / 1;
    border-radius: calc(var(--input-height) * var(--input-br-ratio));
    outline: 1px solid var(--field-border-color);
    transition: outline-color var(--transition-state-delay) ease;
    font-family: var(--default-font-family);
    background-color: var(--surface-foreground);
    color: var(--text-color);
    cursor: text;
}

.slot[data-size='small'] {
    --input-height: var(--spacing-21);
    --cursor-height: var(--text-font-size-2);

    font-size: var(--text-font-size-2);
    line-height: var(--line-height-2);
}

.slot[data-size='medium'] {
    --input-height: var(--spacing-24);
    --cursor-height: var(--text-font-size-3);

    font-size: var(--text-font-size-3);
    line-height: var(--line-height-3);
}

.slot[data-size='large'] {
    --input-height: var(--spacing-27);
    --cursor-height: var(--text-font-size-4);

    font-size: var(--text-font-size-4);
    line-height: var(--line-height-4);
}

.slot:before {
    content: '';
    visibility: hidden;
    width: 1px;
    display: block;
    background-color: var(--text-color);
    animation: cursor-blink 1s steps(2) infinite;
    height: var(--cursor-height);
}

/* slot/error */

.slot[data-error='true'] {
    outline-color: var(--color-error);
}

/* slot/hover */

.slot:hover {
    outline-color: var(--field-border-hover-color);
}

/* slot/disabled */

.slot[data-disabled='true'] {
    cursor: not-allowed;
    background-color: var(--disable-background-color);
    color: var(--disable-text-color);
    transition: background-color var(--transition-state-delay) ease-in-out;
}

.slot[data-disabled='true']:before {
    visibility: hidden;
}

/* placeholder */

.slot:not([data-value]) {
    color: var(--field-placeholder-color);
}

/* placeholder/disable */

.slot[data-disabled='true']:not([data-value]) {
    color: var(--disable-placeholder-text-color);
}

@keyframes cursor-blink {
    0% {
        opacity: 0;
    }
}