.checkbox {
    cursor: pointer;

    --checkbox-size: var(--spacing-8);
    --checkbox-br-ratio: 0.333;

    --checkbox-border-color: var(--fills-primary);
    --checkbox-border-color-hover: var(--fills-primary-hover);
    --checkbox-border-color-active: var(--fills-primary-active);

    --checkbox-background-color: transparent;
    --checkbox-color: inherit;
    --checkbox-outline: none;

    --checkbox-indeterminate: 0;
    --checkbox-checked: 0;
}

/* sizes */

.checkbox:where([data-size='sm']) {
    --checkbox-size: var(--spacing-8);
}

.checkbox:where([data-size='md']) {
    --checkbox-size: var(--spacing-10);
}

.checkbox:where([data-size='lg']) {
    --checkbox-size: var(--spacing-12);
}

/* primary/checked | primary/indeterminate */

.checkbox:has(input[type='checkbox']:checked):where([data-variant='primary']),
.checkbox:has(input[type='checkbox']:indeterminate):where([data-variant='primary']) {
    --checkbox-background-color: var(--color-primary-500);
    --checkbox-border-color: var(--color-primary-500);
    --checkbox-border-color-hover: var(--color-primary-600);
    --checkbox-border-color-active: var(--color-primary-700);
    --checkbox-color: var(--color-white);
}

/* secondary/checked | secondary/indeterminate */

.checkbox:has(input[type='checkbox']:checked):where([data-variant='secondary']),
.checkbox:has(input[type='checkbox']:indeterminate):where([data-variant='secondary']) {
    --checkbox-background-color: var(--color-secondary-500);
    --checkbox-border-color: var(--color-secondary-500);
    --checkbox-border-color-hover: var(--color-secondary-600);
    --checkbox-border-color-active: var(--color-secondary-700);
    --checkbox-color: var(--text-color-inverce);
}

/* disabled */

.checkbox:has(input[type='checkbox']:disabled) {
    cursor: not-allowed;
    --checkbox-background-color: var(--disable-background-color);
    --checkbox-border-color: var(--disable-background-color);
    --checkbox-border-color-hover: var(--disable-background-color);
    --checkbox-border-color-active: var(--disable-background-color);
    --checkbox-color: var(--disable-text-color);
}

/* focus */

.checkbox:has(input[type='checkbox']:focus-visible) {
    --checkbox-outline: 2px solid var(--focus-color);
}

/* interactive states */

.checkbox:not(:has(input[type='checkbox']:disabled)):has(input[type='checkbox']:hover) {
    --checkbox-border-color: var(--checkbox-border-color-hover);
}

.checkbox:not(:has(input[type='checkbox']:disabled)):has(input[type='checkbox']:active) {
    --checkbox-border-color: var(--checkbox-border-color-active);
}

/* indeterminate/checked flags */

.checkbox:has(input[type='checkbox']:indeterminate) {
    --checkbox-indeterminate: 1;
}

.checkbox:has(input[type='checkbox']:checked) {
    --checkbox-checked: 1;
}