.spinner {
    --spinner-color: var(--color-primary-500);

    width: var(--spinner-size);
    height: var(--spinner-size);
    flex-shrink: 0;
    border-radius: 50%;
    background: radial-gradient(farthest-side, var(--spinner-color) 94%, #0000) top/var(--spinner-width) var(--spinner-width) no-repeat,
    conic-gradient(#0000 30%, var(--spinner-color));
    mask: radial-gradient(farthest-side, #0000 calc(100% - var(--spinner-width)), #000 0);
    animation: spinner-loading 1s infinite linear;
}

.spinner[data-size='1'] {
    --spinner-width: .125em;
    --spinner-size: var(--font-size-1);
}

.spinner[data-size='2'] {
    --spinner-width: .125em;
    --spinner-size: var(--font-size-2);
}

.spinner[data-size='3'] {
    --spinner-width: .125em;
    --spinner-size: var(--font-size-3);
}

.spinner[data-size='4'] {
    --spinner-width: .2em;
    --spinner-size: var(--font-size-4);
}

.spinner[data-size='5'] {
    --spinner-width: .2em;
    --spinner-size: var(--font-size-5);
}

.spinner[data-size='6'] {
    --spinner-width: .25em;
    --spinner-size: var(--font-size-6);
}

.spinner[data-size='7'] {
    --spinner-width: .25em;
    --spinner-size: var(--font-size-7);
}

.spinner[data-size='8'] {
    --spinner-width: .3em;
    --spinner-size: var(--font-size-8);
}

.spinner[data-size='9'] {
    --spinner-width: .35em;
    --spinner-size: var(--font-size-9);
}

.spinner[data-size='10'] {
    --spinner-width: .4em;
    --spinner-size: var(--font-size-10);
}

.spinner[data-size='11'] {
    --spinner-width: .5em;
    --spinner-size: var(--font-size-11);
}

.spinner[data-variant='primary'] {
    --spinner-color: var(--color-primary-500);
}

.spinner[data-variant='secondary'] {
    --spinner-color: var(--color-secondary-500);
}

@keyframes spinner-loading {
    100% {
        transform: rotate(1turn);
    }
}