.title {
    max-width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.description {
    color: var(--color-gray-accent-500);
    margin-top: var(--spacing-2);
    max-width: 350px;
}