.dialog {
    scale: .75;
    background: var(--surface-ultrathin);
    border-radius: var(--radius-6);
    padding: var(--spacing-14) var(--spacing-12);
    min-width: clamp(220px, 70vw, 500px);
    max-width: 600px;
    transition: scale var(--transition-state-delay) ease;
}

.dialog:where([data-shadowed='true']) {
    box-shadow: var(--surface-shadow);
}

.dialog:where([data-fluid='true']) {
    width: 100%;
    max-width: initial;
    height: 100%;
    overflow: auto;
    border-radius: 0;
    box-sizing: border-box;
}

.dialog:where([data-status='open']) {
    scale: 1;
}
