.iconButton {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.iconButton[data-size='small'] {
    padding: var(--spacing-6);
    border-radius: var(--radius-3);
    height: 44px;
    width: 44px;
}

.iconButton[data-size='medium'] {
    padding: var(--spacing-7);
    border-radius: var(--radius-3);
    height: 48px;
    width: 48px;
}

.iconButton[data-size='large'] {
    padding: var(--spacing-8);
    border-radius: var(--radius-4);
    height: 52px;
    width: 52px;
}