.alert {
    --alert-bg-color: var(--color-alert-info-filled-background);
    --alert-text-color: var(--color-alert-info-filled-text);
    --alert-border-color: var(--color-alert-info-filled-border);

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    gap: var(--spacing-8);
    box-sizing: border-box;
    padding: clamp(var(--spacing-6), 3vw, var(--spacing-8)) clamp(var(--spacing-12), 3vw, var(--spacing-14));
    border-radius: var(--radius-4);

    background-color: var(--alert-bg-color);
    color: var(--alert-text-color);
    border: 1px solid var(--alert-border-color);
}

.content {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: var(--spacing-2);
}

/* Alert/Fill/Info */

.alert[data-variant='info'][data-apperance='fill'] {
    --alert-bg-color: var(--color-alert-info-filled-background);
    --alert-text-color: var(--color-alert-info-filled-text);
    --alert-border-color: var(--color-alert-info-filled-border);
}

/* Alert/Surface/Info */

.alert[data-variant='info'][data-apperance='surface'] {
    --alert-bg-color: var(--color-alert-info-surface-background);
    --alert-text-color: var(--color-alert-info-surface-text);
    --alert-border-color: var(--color-alert-info-surface-border);
}

/* Alert/Fill/Success */

.alert[data-variant='success'][data-apperance='fill'] {
    --alert-bg-color: var(--color-alert-success-filled-background);
    --alert-text-color: var(--color-alert-success-filled-text);
    --alert-border-color: var(--color-alert-success-filled-border);
}

/* Alert/Surface/Success */

.alert[data-variant='success'][data-apperance='surface'] {
    --alert-bg-color: var(--color-alert-success-surface-background);
    --alert-text-color: var(--color-alert-success-surface-text);
    --alert-border-color: var(--color-alert-success-surface-border);
}

/* Alert/Fill/Warning */

.alert[data-variant='warning'][data-apperance='fill'] {
    --alert-bg-color: var(--color-alert-warning-filled-background);
    --alert-text-color: var(--color-alert-warning-filled-text);
    --alert-border-color: var(--color-alert-warning-filled-border);
}

/* Alert/Surface/Warning */

.alert[data-variant='warning'][data-apperance='surface'] {
    --alert-bg-color: var(--color-alert-warning-surface-background);
    --alert-text-color: var(--color-alert-warning-surface-text);
    --alert-border-color: var(--color-alert-warning-surface-border);
}

/* Alert/Fill/Error */

.alert[data-variant='error'][data-apperance='fill'] {
    --alert-bg-color: var(--color-alert-error-filled-background);
    --alert-text-color: var(--color-alert-error-filled-text);
    --alert-border-color: var(--color-alert-error-filled-border);
}

/* Alert/Surface/Error */

.alert[data-variant='error'][data-apperance='surface'] {
    --alert-bg-color: var(--color-alert-error-surface-background);
    --alert-text-color: var(--color-alert-error-surface-text);
    --alert-border-color: var(--color-alert-error-surface-border);
}