.content {
    --content-height: 0;

    transition: height var(--transition-state-delay) ease;
    overflow-y: hidden;
    height: var(--content-height);
}

.content[data-open='false'] {
    height: 0;
}